Repository hahnprojects/flow: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-cli, test-sdk

test-cli:
  image: node:14
  before_script:
  - npm install -g pnpm
  - pnpm install
  stage: test
  script:
  - pnpm test packages/cli

test-sdk:
  image: node:14
  before_script:
  - npm install -g pnpm
  - pnpm install
  stage: test
  script:
  - pnpm test packages/sdk -- --testPathIgnorePatterns api.spec.ts http.service.spec.ts rpc.spec.ts sidrive.spec.ts

fix(deps): update dependency rxjs to v7
  examples/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: test-sdk

build: fix tsconfig files
  examples/tsconfig.json
  examples/tsconfig.test.json
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  packages/sdk/tsconfig.json
  packages/sdk/tsconfig.lib.json
  tsconfig.json
  tsconfig.test.json
Due: test-cli, test-sdk

fix: replace deprecated querystring lib with natvie URLSearchParams
  .changeset/README.md
  .changeset/config.json
  .changeset/serious-bees-invent.md
  package.json
  packages/cli/lib/cli.js
  packages/cli/package.json
  packages/sdk/lib/api/http.service.ts
  packages/sdk/package.json
Due: test-cli, test-sdk

feat(flow-cli): migrate from tslint to eslint
  .changeset/happy-oranges-roll.md
  examples/package.json
  examples/tslint.json
  package.json
  packages/cli/lib/cli.js
  pnpm-lock.yaml
Due: test-cli, test-sdk

fix(flow-sdk): remove parentId from getMany; add getChildren for assets
  .changeset/fresh-kids-count.md
  packages/sdk/lib/api/asset.service.ts
  packages/sdk/lib/api/data.service.ts
Due: test-sdk

release: flow-sdk v4.13.2, flow-cli v2.10.0
  .changeset/fresh-kids-count.md
  .changeset/happy-oranges-roll.md
  .changeset/serious-bees-invent.md
  examples/CHANGELOG.md
  examples/package.json
  package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/sdk/tsconfig.json
Due: test-cli, test-sdk

fix(deps): update dependency ts-node to ^10.2.0
  package.json
  packages/cli/package.json
  pnpm-lock.yaml
Due: test-cli, test-sdk

chore(deps): update dependency @types/jest to v27
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: test-cli, test-sdk

chore(deps): update linters to ^4.29.1
  package.json
  pnpm-lock.yaml
Due: test-cli, test-sdk

chore(deps): update dependency @types/jest to ^27.0.1
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: test-cli, test-sdk

chore(deps): update dependency tslib to ^2.3.1
  package.json
  pnpm-lock.yaml
Due: test-cli, test-sdk

chore: added test-ids
  packages/cli/test/check-types.spec.ts
  packages/cli/test/get-code-blocks.spec.ts
  packages/cli/test/handle-converted.spec.ts
  packages/cli/test/prepare-ts-file.spec.ts
  packages/sdk/test/api.mock.spec.ts
  packages/sdk/test/api.spec.ts
  packages/sdk/test/context.spec.ts
  packages/sdk/test/event.spec.ts
  packages/sdk/test/extra-validators.spec.ts
  packages/sdk/test/flow.spec.ts
  packages/sdk/test/http.service.spec.ts
  packages/sdk/test/input-stream.decorator.spec.ts
  packages/sdk/test/long-running-rpc.spec.ts
  packages/sdk/test/message.spec.ts
  packages/sdk/test/rpc.spec.ts
  packages/sdk/test/rx.spec.ts
  packages/sdk/test/sidrive.spec.ts
  packages/sdk/test/unit-decorator.spec.ts
  packages/sdk/test/utils.spec.ts
Due: test-cli, test-sdk

chore(deps): update all non-major dependencies
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: test-cli, test-sdk

chore(deps): update linters
  package.json
  pnpm-lock.yaml
Due: test-cli, test-sdk

chore(deps): update test packages
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: test-cli, test-sdk

refactor: extends notification function to handle eventlink
  packages/sdk/lib/api/endpoint.interface.ts
  packages/sdk/lib/api/endpoint.service.ts
  packages/sdk/lib/api/mock/endpoint.mock.service.ts
  packages/sdk/test/api.mock.spec.ts
Due: test-sdk

fix: endpoint service return type
  packages/sdk/lib/api/mock/endpoint.mock.service.ts
  packages/sdk/test/api.mock.spec.ts
Due: test-sdk

fix: return promise of void
  packages/sdk/lib/api/mock/endpoint.mock.service.ts
Due: test-sdk

refactor(sdk): rename api service properties (non-breaking)
  .changeset/beige-pumas-impress.md
  packages/sdk/lib/api/api.interface.ts
  packages/sdk/lib/api/api.ts
  packages/sdk/lib/api/asset.interface.ts
  packages/sdk/lib/api/asset.service.ts
  packages/sdk/lib/api/content.interface.ts
  packages/sdk/lib/api/content.service.ts
  packages/sdk/lib/api/endpoint.interface.ts
  packages/sdk/lib/api/endpoint.service.ts
  packages/sdk/lib/api/events.interface.ts
  packages/sdk/lib/api/events.service.ts
  packages/sdk/lib/api/mock/api.mock.ts
  packages/sdk/lib/api/mock/asset.mock.service.ts
  packages/sdk/lib/api/mock/content.mock.service.ts
  packages/sdk/lib/api/mock/data.mock.service.ts
  packages/sdk/lib/api/mock/endpoint.mock.service.ts
  packages/sdk/lib/api/mock/events.mock.service.ts
  packages/sdk/lib/api/mock/secret.mock.service.ts
  packages/sdk/lib/api/mock/task.mock.service.ts
  packages/sdk/lib/api/mock/timeseries.mock.service.ts
  packages/sdk/lib/api/mock/user.mock.service.ts
  packages/sdk/lib/api/secret.interface.ts
  packages/sdk/lib/api/secret.service.ts
  packages/sdk/lib/api/task.interface.ts
  packages/sdk/lib/api/task.service.ts
  packages/sdk/lib/api/timeseries.interface.ts
  packages/sdk/lib/api/timeseries.service.ts
  packages/sdk/lib/api/user.interface.ts
  packages/sdk/lib/api/user.service.ts
Due: test-sdk

fix(sdk): add log message to indicate that flow deployment is running
  .changeset/pink-pumas-smile.md
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/test/flow.spec.ts
  packages/sdk/test/rx.spec.ts
Due: test-sdk

feat(sdk): add asset type and proxy service to api
  .changeset/slimy-melons-search.md
  packages/sdk/lib/api/api.ts
  packages/sdk/lib/api/assettypes.service.ts
  packages/sdk/lib/api/mock/assetTypes.mock.service.ts
  packages/sdk/lib/api/mock/index.ts
  packages/sdk/lib/api/proxy.service.ts
  packages/sdk/lib/api/sidriveiq.service.ts
  packages/sdk/test/sidrive.spec.ts
Due: test-sdk

fix(sdk): fix getMany and getManyFiltered methods for api mocks
  .changeset/tiny-baboons-punch.md
  packages/sdk/lib/api/mock/data.mock.service.ts
  packages/sdk/test/api.mock.spec.ts
Due: test-sdk

release: flow-sdk v4.14.2
  .changeset/beige-pumas-impress.md
  .changeset/pink-pumas-smile.md
  .changeset/slimy-melons-search.md
  .changeset/tiny-baboons-punch.md
  examples/CHANGELOG.md
  examples/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: test-sdk

fix(sdk): use correct parameter order for post and put of proxy service
  .changeset/forty-clouds-beam.md
  packages/sdk/lib/api/proxy.service.ts
Due: test-sdk

release: flow-sdk v4.14.3
  .changeset/forty-clouds-beam.md
  examples/CHANGELOG.md
  examples/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: test-sdk

feat: added async handling of rabbitmq connection
  packages/sdk/lib/AsyncConnection.ts
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/RpcClient.ts
  packages/sdk/lib/flow.interface.ts
  packages/sdk/lib/rpc_server.py
  packages/sdk/lib/worker.js
  packages/sdk/lib/worker.ts
  packages/sdk/test/AsyncConnection.spec.ts
Due: test-sdk

fix: fixed tests to use new FlowApp constructor
  packages/sdk/test/extra-validators.spec.ts
  packages/sdk/test/input-stream.decorator.spec.ts
  packages/sdk/test/long-running-rpc.spec.ts
  packages/sdk/test/rpc.spec.ts
Due: test-sdk

feat: changed FlowApplication constructor signature
  packages/sdk/lib/AsyncConnection.ts
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/flow.interface.ts
  packages/sdk/test/context.spec.ts
  packages/sdk/test/flow.spec.ts
  packages/sdk/test/input-stream.decorator.spec.ts
  packages/sdk/test/long-running-rpc.spec.ts
  packages/sdk/test/message.spec.ts
  packages/sdk/test/rpc.spec.ts
  packages/sdk/test/rx.spec.ts
Due: test-sdk

fix: fixed ci service config
  .gitlab/.gitlab-ci.yml
Due: none

fix: added multi-core tag
  .gitlab/.gitlab-ci.yml
Due: none

fix: changed job base image
  .gitlab/.gitlab-ci.yml
Due: none

fix: set tests to not run in parallel
  .gitlab/.gitlab-ci.yml
Due: none

fix: changed pnpm test scripts
  .gitlab/.gitlab-ci.yml
  package.json
Due: test-cli, test-sdk

chore(deps): update dependency eslint-plugin-prettier to v4
  package.json
  pnpm-lock.yaml
Due: test-cli, test-sdk

chore(deps): update linters to ^4.31.0
  package.json
  pnpm-lock.yaml
Due: test-cli, test-sdk

Path conditions:
  test-cli: any of: packages/cli/**/*, package.json
  test-sdk: any of: packages/sdk/**/*, package.json
