Repository hahnprojects/flow: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-cli, test-sdk, test-api

.gitlab/.gitlab-ci.yml:

stages:
  - test

commit-messages:
  stage: test
  image: outillage/commitsar:0.15.0
  script:
    - commitsar
  allow_failure: true
  rules:
    - if: $CI_MERGE_REQUEST_ID

.pnpm:
  image: node:lts
  before_script:
    - npm install -g pnpm
    - pnpm install
    - pnpm -r prepublishOnly

test-cli:
  extends: .pnpm
  stage: test
  script:
    - pnpm test packages/cli
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - packages/cli/**/*
        - package.json

test-sdk:
  extends: .pnpm
  stage: test
  script:
    - pnpm test packages/sdk -- --testPathIgnorePatterns rpc.spec.ts sidrive.spec.ts
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - packages/sdk/**/*
        - package.json

test-api:
  extends: .pnpm
  stage: test
  script:
    - pnpm test packages/api -- --testPathIgnorePatterns api.spec.ts
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - packages/api/**/*
        - package.json

chore(deps): update all non-major dependencies
  examples/package.json
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: test-cli, test-sdk, test-api

release: flow-sdk v4.19.3 and hpc-api v1.0.3
  .changeset/stale-lamps-invent.md
  examples/CHANGELOG.md
  examples/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: test-sdk, test-api

feat(api): add assetId and assetName to endpoint api and combine params
  .changeset/rude-dancers-retire.md
  packages/api/lib/endpoint.interface.ts
  packages/api/lib/endpoint.service.ts
  packages/api/lib/mock/api.mock.ts
  packages/api/lib/mock/endpoint.mock.service.ts
  packages/api/test/api.mock.spec.ts
  packages/api/test/api.spec.ts
Due: test-api

release: flow-sdk v4.19.4 and hpc-api v1.1.0
  .changeset/rude-dancers-retire.md
  .gitlab/renovate.json
  examples/CHANGELOG.md
  examples/package.json
  package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  pnpm-lock.yaml
Due: test-cli, test-sdk, test-api

chore(deps): update node.js to v16
  package.json
  packages/api/package.json
  packages/cli/package.json
  packages/sdk/package.json
Due: test-cli, test-sdk, test-api

chore: fix linting rules
  examples/modules/example/src/flow.spec.ts
  examples/modules/example/src/simple.spec.ts
  examples/modules/python/src/python.spec.ts
  examples/package.json
  package.json
  packages/api/lib/api.ts
  packages/api/test/api.mock.spec.ts
  packages/api/test/api.spec.ts
  packages/cli/lib/cli.js
  packages/cli/test/check-types.spec.ts
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/FlowLogger.ts
  packages/sdk/lib/RpcClient.ts
  packages/sdk/test/context.spec.ts
  packages/sdk/test/long-running-rpc.spec.ts
  packages/sdk/test/message.spec.ts
  packages/sdk/test/rpc.spec.ts
  packages/sdk/test/rx.spec.ts
Due: test-cli, test-sdk, test-api

chore(deps): update all non-major dependencies
  README.md
  examples/package.json
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: test-cli, test-sdk, test-api

ci: add github actions
  .github/actions/prepare-pnpm/action.yml
  .github/renovate.json
  .github/workflows/codeql-analysis.yml
  .github/workflows/test.yml
  .github/workflows/validate-pr.yml
  .github/workflows/validate.yml
Due: none

fix(deps): update all non-major dependencies
  .gitlab/.gitlab-ci.yml
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: test-cli, test-sdk

fix: migrations for class-transformer v0.5.1
  .github/issue_templates/unit-request.md
  .gitlab/.gitlab-ci.yml
  packages/sdk/lib/FlowElement.ts
Due: test-sdk

chore: fix linting
  packages/api/lib/mock/api.mock.ts
  packages/api/test/api.mock.spec.ts
  packages/api/test/api.spec.ts
Due: test-api

chore: update readme
  README.md
Due: none

fix(deps): update dependency p-queue to v7
  packages/api/package.json
  pnpm-lock.yaml
Due: test-api

chore(deps): update all non-major dependencies
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: test-cli, test-sdk, test-api

fix(deps): update dependency chalk to v5
  packages/cli/package.json
  pnpm-lock.yaml
Due: test-cli

fix(deps): update dependency execa to v6
  packages/cli/package.json
  pnpm-lock.yaml
Due: test-cli

fix(deps): update dependency ora to v6
  packages/cli/package.json
  pnpm-lock.yaml
Due: test-cli

feat(cli): convert flow-cli to es module
  .changeset/popular-birds-provide.md
  .github/workflows/test.yml
  .gitignore
  CHANGELOG.md
  README.md
  examples/package.json
  package.json
  packages/api/LICENSE
  packages/api/package.json
  packages/cli/README.md
  packages/cli/jest.config.cjs
  packages/cli/lib/cli.mjs
  packages/cli/lib/utils.mjs
  packages/cli/package.json
  packages/cli/test/check-types.spec.ts
  packages/cli/test/get-code-blocks.spec.ts
  packages/cli/test/handle-converted.spec.ts
  packages/cli/test/prepare-ts-file.spec.ts
  packages/cli/test/utils.spec.mjs
  packages/sdk/CHANGELOG.md
  packages/sdk/README.md
  packages/sdk/lib/unit-utils.ts
  packages/sdk/package.json
  pnpm-lock.yaml
  tsconfig.json
Due: test-cli, test-sdk, test-api

feat(cli): convert flow-cli to es module (#11)
  .changeset/popular-birds-provide.md
  .github/workflows/test.yml
  .gitignore
  CHANGELOG.md
  README.md
  examples/package.json
  package.json
  packages/api/LICENSE
  packages/api/package.json
  packages/cli/README.md
  packages/cli/jest.config.cjs
  packages/cli/lib/cli.mjs
  packages/cli/lib/utils.mjs
  packages/cli/package.json
  packages/cli/test/check-types.spec.ts
  packages/cli/test/get-code-blocks.spec.ts
  packages/cli/test/handle-converted.spec.ts
  packages/cli/test/prepare-ts-file.spec.ts
  packages/cli/test/utils.spec.mjs
  packages/sdk/CHANGELOG.md
  packages/sdk/README.md
  packages/sdk/lib/unit-utils.ts
  packages/sdk/package.json
  pnpm-lock.yaml
  tsconfig.json
Due: test-cli, test-sdk, test-api

feat: added parameter to allow untruncated logs
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/FlowLogger.ts
  packages/sdk/test/context.spec.ts
Due: test-sdk

chore: added changeset
  .changeset/brave-wolves-juggle.md
Due: none

chore: reverted unnecessary change
  packages/sdk/lib/FlowApplication.ts
Due: test-sdk

chore: fixed linting
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/test/context.spec.ts
Due: test-sdk

chore: "fixed" import
  packages/sdk/lib/FlowApplication.ts
Due: test-sdk

feat(sdk): Added parameter to logger methods (#13)
  .changeset/brave-wolves-juggle.md
  packages/sdk/lib/FlowLogger.ts
  packages/sdk/test/context.spec.ts
Due: test-sdk

ci: add release workflow
  .github/renovate.json
  .github/workflows/release.yml
  .github/workflows/test.yml
  LICENSE
  packages/cli/LICENSE
  packages/sdk/LICENSE
Due: test-cli, test-sdk

ci: update renovate bot schedule
  .github/renovate.json
  .github/workflows/release.yml
Due: none

fix: added workaround for bug in class-transformer: 0.5.1
  packages/sdk/lib/FlowElement.ts
Due: test-sdk

fix: added changeset
  .changeset/selfish-emus-melt.md
Due: none

chore(deps): update all non-major dependencies
  .github/workflows/validate-pr.yml
  examples/package.json
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: test-cli, test-sdk, test-api

test: added test for complex props
  packages/sdk/test/flow.spec.ts
Due: test-sdk

fix: fixed tests
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/test/flow.spec.ts
Due: test-sdk

fix(deps): move class-validator-jsonschema to dev deps for flow sdk
  .changeset/hungry-ladybugs-taste.md
  packages/sdk/package.json
  pnpm-lock.yaml
Due: test-sdk

fix: removed workaround
  packages/sdk/lib/FlowElement.ts
Due: test-sdk

chore: changed changeset
  .changeset/selfish-emus-melt.md
Due: none

fix: deleted changeset
  .changeset/selfish-emus-melt.md
Due: none
