Repository hahnprojects/flow: changes, and which GitLab CI jobs are due for each by the changed paths.
All: audit, test-cli, test-sdk, test-api

.gitlab/.gitlab-ci.yml:

stages:
  - test

commit-messages:
  stage: test
  image: outillage/commitsar:0.16.0
  script:
    - commitsar
  rules:
    - if: $CI_MERGE_REQUEST_ID
      allow_failure: true

.pnpm:
  image: node:lts
  stage: test
  before_script:
    - npm install -g pnpm
    - pnpm install
    # - pnpm -r prepublishOnly

audit:
  extends: .pnpm
  script:
    - pnpm audit --prod
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - package.json
        - pnpm-lock.yaml
        - packages/sdk/**/package.json
      allow_failure: true

lint:
  extends: .pnpm
  script:
    - pnpm lint
  rules:
    - if: $CI_MERGE_REQUEST_ID

test-cli:
  extends: .pnpm
  script:
    - pnpm test packages/cli
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - packages/cli/**/*
        - package.json

test-sdk:
  extends: .pnpm
  script:
    - pnpm test packages/sdk -- --testPathIgnorePatterns rpc.spec.ts sidrive.spec.ts
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - packages/sdk/**/*
        - package.json

test-api:
  extends: .pnpm
  stage: test
  script:
    - pnpm test packages/api -- --testPathIgnorePatterns api.spec.ts
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - packages/api/**/*
        - package.json

rolf
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/test/flow.spec.ts
Due: test-sdk

feat(utils): Adds cancellable delay function
  packages/sdk/lib/utils.ts
  packages/sdk/test/flow.spec.ts
Due: test-sdk

fix(flow-logger): git copilot optis: spelling and simplyfing a long if statement
  packages/sdk/lib/FlowLogger.ts
  packages/sdk/lib/utils.ts
  packages/sdk/test/flow.spec.ts
Due: test-sdk

fix(sdk): tests for new logger message output format
  packages/sdk/test/context.spec.ts
  packages/sdk/test/input-stream.decorator.spec.ts
  packages/sdk/test/message.spec.ts
  packages/sdk/test/validation.spec.ts
Due: test-sdk

fix(sdk): nats setting and tests
  package.json
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/test/context-manager-purpose.spec.ts
  packages/sdk/test/context.spec.ts
  packages/sdk/test/extra-validators.spec.ts
  packages/sdk/test/flow.spec.ts
  packages/sdk/test/message.spec.ts
  packages/sdk/test/mocks/nats-prepare.reals-nats.ts
Due: audit, test-cli, test-sdk, test-api

fix(sdk): code factor
  packages/sdk/test/message.spec.ts
Due: test-sdk

fix(sdk): message.spec.ts
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/nats.ts
  packages/sdk/test/message.spec.ts
Due: test-sdk

fix(sdk): fix flow log message parsing (#483)
  .changeset/lucky-geckos-repeat.md
  package.json
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/FlowLogger.ts
  packages/sdk/lib/nats.ts
  packages/sdk/lib/utils.ts
  packages/sdk/test/context-manager-purpose.spec.ts
  packages/sdk/test/context-manager.spec.ts
  packages/sdk/test/context.spec.ts
  packages/sdk/test/extra-validators.spec.ts
  packages/sdk/test/flow-logger.spec.ts
  packages/sdk/test/flow.spec.ts
  packages/sdk/test/input-stream.decorator.spec.ts
  packages/sdk/test/message.spec.ts
  packages/sdk/test/mocks/logger.mock.ts
  packages/sdk/test/mocks/nats-connection.mock.ts
  packages/sdk/test/mocks/nats-prepare.reals-nats.ts
  packages/sdk/test/validation.spec.ts
Due: audit, test-cli, test-sdk, test-api

fix(sdk): fixed message test timing
  .changeset/yummy-insects-heal.md
  packages/sdk/test/message.spec.ts
Due: test-sdk

feat(sdk): tests using logger mock
  packages/sdk/test/rpc.spec.ts
  packages/sdk/test/rx.spec.ts
Due: test-sdk

fix(sdk): fixed message test timing (#489)
  .changeset/yummy-insects-heal.md
  packages/sdk/test/message.spec.ts
  packages/sdk/test/rpc.spec.ts
  packages/sdk/test/rx.spec.ts
Due: test-sdk

fix(deps): update all non-major dependencies
  .changeset/loose-kings-joke.md
  packages/cli/package.json
  pnpm-lock.yaml
Due: audit, test-cli

fix(deps): update all non-major dependencies
  .changeset/quiet-flies-swim.md
  pnpm-lock.yaml
Due: audit

chore: hpc api version update
  packages/sdk/package.json
Due: audit, test-sdk

chore: update chage set
  .changeset/lazy-suits-prove.md
Due: none

chore: hpc-flow-sdk version
  .changeset/pink-dragons-build.md
  packages/sdk/package.json
Due: audit, test-sdk

fix: pnpm-lock yaml
  pnpm-lock.yaml
Due: audit

chore(deps): update dependencies
  .changeset/lazy-suits-prove.md
  .changeset/pink-dragons-build.md
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-sdk

chore: hpc api version update (#513)
  .changeset/pink-dragons-build.md
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-sdk

fix: api pkg migration
  .changeset/giant-cases-brake.md
  .github/workflows/test.yml
  package.json
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/flow.interface.ts
  packages/sdk/lib/index.ts
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

chore: changeset
  .changeset/blue-coins-yawn.md
Due: none

test: fix
  examples/modules/example/src/flow.spec.ts
Due: none

docs: added docs for typing use-cases (#522)
  doc/flow-function-stream-typing.md
Due: none

chore: remove renovate.json
  .github/renovate.json
Due: none
