Repository hahnprojects/flow: changes, and which GitLab CI jobs are due for each by the changed paths.
All: audit, test-cli, test-sdk, test-api

.gitlab/.gitlab-ci.yml:

stages:
  - test

commit-messages:
  stage: test
  image: outillage/commitsar:0.16.0
  script:
    - commitsar
  rules:
    - if: $CI_MERGE_REQUEST_ID
      allow_failure: true

.pnpm:
  image: node:lts
  stage: test
  before_script:
    - npm install -g pnpm
    - pnpm install
    # - pnpm -r prepublishOnly

audit:
  extends: .pnpm
  script:
    - pnpm audit --prod
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - package.json
        - pnpm-lock.yaml
        - packages/sdk/**/package.json
      allow_failure: true

lint:
  extends: .pnpm
  script:
    - pnpm lint
  rules:
    - if: $CI_MERGE_REQUEST_ID

test-cli:
  extends: .pnpm
  script:
    - pnpm test packages/cli
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - packages/cli/**/*
        - package.json

test-sdk:
  extends: .pnpm
  script:
    - pnpm test packages/sdk -- --testPathIgnorePatterns rpc.spec.ts sidrive.spec.ts
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - packages/sdk/**/*
        - package.json

test-api:
  extends: .pnpm
  stage: test
  script:
    - pnpm test packages/api -- --testPathIgnorePatterns api.spec.ts
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - packages/api/**/*
        - package.json

test: added test for correct instantiation of nested function properties (#16)
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/test/flow.spec.ts
Due: test-sdk

chore(deps): update all non-major dependencies
  examples/package.json
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

chore(deps): update dependency eslint-plugin-unicorn to v40
  packages/cli/package.json
  pnpm-lock.yaml
Due: audit, test-cli

fix(sdk): support rabbitmq vhosts
  .changeset/tidy-keys-do.md
  .github/actions/prepare-pnpm/action.yml
  packages/sdk/lib/rpc_server.py
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-sdk

chore(deps): update dependency @nestjs/common to v8
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-sdk

fix(deps): update dependency dotenv to v11
  package.json
  packages/cli/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

chore(deps): update all non-major dependencies
  .github/workflows/validate-pr.yml
  examples/package.json
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

fix(deps): update dependency dotenv to v13
  package.json
  packages/cli/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

chore(deps): update all non-major dependencies
  examples/package.json
  package.json
  packages/api/package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

fix(deps): update dependency dotenv to v14
  package.json
  packages/cli/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

refactor: changed allowedParent into allowedParents
  packages/api/lib/asset.interface.ts
Due: test-api

refactor: changed the order of properties inside the asset type interface
  packages/api/lib/asset.interface.ts
Due: test-api

refactor: changed the order of properties in the assets interface and added missing properties
  packages/api/lib/asset.interface.ts
Due: test-api

fix: added changeset
  .changeset/sweet-clouds-wonder.md
Due: none

fix: relations are nullable
  packages/api/lib/asset.interface.ts
Due: test-api

refactor: updating interfaces (#30)
  .changeset/sweet-clouds-wonder.md
  packages/api/lib/asset.interface.ts
Due: test-api

fix: added class-transformer and class-validator as peer-dependencies
  packages/sdk/package.json
Due: audit, test-sdk

doc: made Changelog more expressive.
  packages/api/CHANGELOG.md
Due: test-api

fix(deps): update dependency amqp-connection-manager to v4
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-sdk

chore: added changeset
  .changeset/loud-trains-complain.md
Due: none

chore(deps): update dependency typescript to ^4.5.5
  examples/package.json
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

feat: added findRevisions to the asset service
  packages/api/lib/asset.interface.ts
  packages/api/lib/asset.service.ts
Due: test-api

fix: created changeset
  .changeset/mighty-starfishes-lie.md
Due: none

chore(deps): update dependency @golevelup/nestjs-rabbitmq to ^1.22.0
  examples/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-sdk

fix: addjusted return type.
  packages/api/lib/asset.interface.ts
  packages/api/lib/asset.service.ts
Due: test-api

fix: addjusted the type right
  packages/api/lib/asset.service.ts
Due: test-api

fix: made it an array
  packages/api/lib/asset.service.ts
Due: test-api

chore(deps): update dependency @golevelup/nestjs-rabbitmq to v2
  examples/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-sdk

chore(deps): update dependency @changesets/cli to ^2.20.0
  package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

feat: updated interfaces
  packages/api/lib/asset.interface.ts
Due: test-api

fix: updated find revisions method again
  packages/api/lib/asset.service.ts
Due: test-api

test: created the find revisions method inside the asset mock service
  packages/api/lib/mock/asset.mock.service.ts
Due: test-api
