Repository hahnprojects/flow: changes, and which GitLab CI jobs are due for each by the changed paths.
All: audit, test-cli, test-sdk, test-api

.gitlab/.gitlab-ci.yml:

stages:
  - test

commit-messages:
  stage: test
  image: outillage/commitsar:0.16.0
  script:
    - commitsar
  rules:
    - if: $CI_MERGE_REQUEST_ID
      allow_failure: true

.pnpm:
  image: node:lts
  stage: test
  before_script:
    - npm install -g pnpm
    - pnpm install
    # - pnpm -r prepublishOnly

audit:
  extends: .pnpm
  script:
    - pnpm audit --prod
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - package.json
        - pnpm-lock.yaml
        - packages/sdk/**/package.json
      allow_failure: true

lint:
  extends: .pnpm
  script:
    - pnpm lint
  rules:
    - if: $CI_MERGE_REQUEST_ID

test-cli:
  extends: .pnpm
  script:
    - pnpm test packages/cli
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - packages/cli/**/*
        - package.json

test-sdk:
  extends: .pnpm
  script:
    - pnpm test packages/sdk -- --testPathIgnorePatterns rpc.spec.ts sidrive.spec.ts
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - packages/sdk/**/*
        - package.json

test-api:
  extends: .pnpm
  stage: test
  script:
    - pnpm test packages/api -- --testPathIgnorePatterns api.spec.ts
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - packages/api/**/*
        - package.json

chore: spelling
  .changeset/brown-lizards-cheer.md
Due: none

fix(api): get diagram revisions (#154)
  .changeset/brown-lizards-cheer.md
  packages/api/lib/flow.service.ts
Due: test-api

fix(sdk): avoid processing and pblishing all logs twice
  .changeset/wicked-clocks-kick.md
  packages/sdk/lib/FlowApplication.ts
Due: test-sdk

fix(sdk): avoid processing and pblishing all logs twice (#156)
  .changeset/wicked-clocks-kick.md
  packages/sdk/lib/FlowApplication.ts
Due: test-sdk

chore: added py monorepo
  .github/workflows/release-api-py.yml
  .github/workflows/release-sdk-py.yml
  .github/workflows/test-api-py.yml
  .github/workflows/test-sdk-py.yml
  .prettierignore
  packages/api/test/api.spec.ts
  packages/hahnpro/__init__.py
  packages/hahnpro/flow_sdk/README.md
  packages/hahnpro/flow_sdk/__init__.py
  packages/hahnpro/flow_sdk/flow_sdk/__init__.py
  packages/hahnpro/flow_sdk/flow_sdk/rpc_server.py
  packages/hahnpro/flow_sdk/poetry.lock
  packages/hahnpro/flow_sdk/pyproject.toml
  packages/hahnpro/hpc_api/README.md
  packages/hahnpro/hpc_api/__init__.py
  packages/hahnpro/hpc_api/hpc_api/__init__.py
  packages/hahnpro/hpc_api/hpc_api/api.py
  packages/hahnpro/hpc_api/hpc_api/asset_service.py
  packages/hahnpro/hpc_api/hpc_api/content_service.py
  packages/hahnpro/hpc_api/hpc_api/http_client.py
  packages/hahnpro/hpc_api/hpc_api/test_api.py
  packages/hahnpro/hpc_api/hpc_api/test_http_client.py
  packages/hahnpro/hpc_api/hpc_api/token_set.py
  packages/hahnpro/hpc_api/poetry.lock
  packages/hahnpro/hpc_api/pyproject.toml
  workspace.toml
Due: test-api

chore: added py monorepo
  .github/workflows/release-api-py.yml
  .github/workflows/release-sdk-py.yml
  .github/workflows/test-api-py.yml
  .github/workflows/test-sdk-py.yml
  .prettierignore
  packages/hahnpro/__init__.py
  packages/hahnpro/flow_sdk/README.md
  packages/hahnpro/flow_sdk/__init__.py
  packages/hahnpro/flow_sdk/flow_sdk/__init__.py
  packages/hahnpro/flow_sdk/flow_sdk/rpc_server.py
  packages/hahnpro/flow_sdk/poetry.lock
  packages/hahnpro/flow_sdk/pyproject.toml
  packages/hahnpro/hpc_api/README.md
  packages/hahnpro/hpc_api/__init__.py
  packages/hahnpro/hpc_api/hpc_api/__init__.py
  packages/hahnpro/hpc_api/hpc_api/api.py
  packages/hahnpro/hpc_api/hpc_api/asset_service.py
  packages/hahnpro/hpc_api/hpc_api/content_service.py
  packages/hahnpro/hpc_api/hpc_api/http_client.py
  packages/hahnpro/hpc_api/hpc_api/test_api.py
  packages/hahnpro/hpc_api/hpc_api/test_http_client.py
  packages/hahnpro/hpc_api/hpc_api/token_set.py
  packages/hahnpro/hpc_api/poetry.lock
  packages/hahnpro/hpc_api/pyproject.toml
  workspace.toml
Due: none

chore: ci workflow paths
  .github/workflows/release-api-py.yml
  .github/workflows/release-sdk-py.yml
  .github/workflows/test-api-py.yml
  .github/workflows/test-sdk-py.yml
Due: none

fix: ci workflow naming
  .github/workflows/release-api-py.yml
  .github/workflows/release-sdk-py.yml
  .github/workflows/test-api-py.yml
  .github/workflows/test-sdk-py.yml
Due: none

fix: audit
  packages/cli/package.json
  pnpm-lock.yaml
Due: audit, test-cli

fix: test client id
  packages/hahnpro/hpc_api/hpc_api/test_api.py
  packages/hahnpro/hpc_api/hpc_api/test_http_client.py
Due: none

fix: added typing_extensions for py 3.7
  packages/hahnpro/hpc_api/poetry.lock
  packages/hahnpro/hpc_api/pyproject.toml
Due: none

fix: added typing_extensions for py 3.7
  packages/hahnpro/flow_sdk/poetry.lock
  packages/hahnpro/flow_sdk/pyproject.toml
  packages/hahnpro/hpc_api/poetry.lock
  packages/hahnpro/hpc_api/pyproject.toml
Due: none

test: release process
  .github/workflows/release-api-py.yml
Due: none

chore: bump version
  packages/hahnpro/hpc_api/pyproject.toml
Due: none

fix: changed module name to be the same as the install name
  .github/workflows/release-api-py.yml
  packages/hahnpro/flow_sdk/hahnpro_flow_sdk/__init__.py
  packages/hahnpro/flow_sdk/hahnpro_flow_sdk/rpc_server.py
  packages/hahnpro/flow_sdk/pyproject.toml
  packages/hahnpro/hpc_api/hahnpro_hpc_api/__init__.py
  packages/hahnpro/hpc_api/hahnpro_hpc_api/api.py
  packages/hahnpro/hpc_api/hahnpro_hpc_api/asset_service.py
  packages/hahnpro/hpc_api/hahnpro_hpc_api/content_service.py
  packages/hahnpro/hpc_api/hahnpro_hpc_api/http_client.py
  packages/hahnpro/hpc_api/hahnpro_hpc_api/test_api.py
  packages/hahnpro/hpc_api/hahnpro_hpc_api/test_http_client.py
  packages/hahnpro/hpc_api/hahnpro_hpc_api/token_set.py
  packages/hahnpro/hpc_api/pyproject.toml
Due: none

fix: changed importname
  README.md
  doc/best-practises.md
  doc/dev-docs.md
  doc/development-environment.md
  examples/modules/python/src/algebra_rpc.py
  packages/hahnpro/hahnpro_flow_sdk/README.md
  packages/hahnpro/hahnpro_flow_sdk/__init__.py
  packages/hahnpro/hahnpro_flow_sdk/hahnpro_flow_sdk/__init__.py
  packages/hahnpro/hahnpro_flow_sdk/hahnpro_flow_sdk/rpc_server.py
  packages/hahnpro/hahnpro_flow_sdk/poetry.lock
  packages/hahnpro/hahnpro_flow_sdk/pyproject.toml
  packages/hahnpro/hahnpro_hpc_api/README.md
  packages/hahnpro/hahnpro_hpc_api/__init__.py
  packages/hahnpro/hahnpro_hpc_api/hahnpro_hpc_api/__init__.py
  packages/hahnpro/hahnpro_hpc_api/hahnpro_hpc_api/api.py
  packages/hahnpro/hahnpro_hpc_api/hahnpro_hpc_api/asset_service.py
  packages/hahnpro/hahnpro_hpc_api/hahnpro_hpc_api/content_service.py
  packages/hahnpro/hahnpro_hpc_api/hahnpro_hpc_api/http_client.py
  packages/hahnpro/hahnpro_hpc_api/hahnpro_hpc_api/test_api.py
  packages/hahnpro/hahnpro_hpc_api/hahnpro_hpc_api/test_http_client.py
  packages/hahnpro/hahnpro_hpc_api/hahnpro_hpc_api/token_set.py
  packages/hahnpro/hahnpro_hpc_api/poetry.lock
  packages/hahnpro/hahnpro_hpc_api/pyproject.toml
  packages/hahnpro/hpc_api/__init__.py
  packages/hahnpro/hpc_api/hahnpro_hpc_api/__init__.py
Due: none

fix: project structure
  examples/modules/python/src/algebra_rpc.py
  packages/hahnpro/__init__.py
  packages/hahnpro/hahnpro_flow_sdk/__init__.py
  packages/hahnpro/hahnpro_flow_sdk/hahnpro_flow_sdk/__init__.py
  packages/hahnpro/hahnpro_flow_sdk/pyproject.toml
  packages/hahnpro/hahnpro_flow_sdk/rpc/__init__.py
  packages/hahnpro/hahnpro_flow_sdk/rpc/rpc_server.py
  packages/hahnpro/hahnpro_hpc_api/__init__.py
  packages/hahnpro/hahnpro_hpc_api/api/__init__.py
  packages/hahnpro/hahnpro_hpc_api/api/api.py
  packages/hahnpro/hahnpro_hpc_api/api/asset_service.py
  packages/hahnpro/hahnpro_hpc_api/api/content_service.py
  packages/hahnpro/hahnpro_hpc_api/api/http_client.py
  packages/hahnpro/hahnpro_hpc_api/api/test_api.py
  packages/hahnpro/hahnpro_hpc_api/api/test_http_client.py
  packages/hahnpro/hahnpro_hpc_api/api/token_set.py
  packages/hahnpro/hahnpro_hpc_api/hahnpro_hpc_api/__init__.py
  packages/hahnpro/hahnpro_hpc_api/pyproject.toml
Due: none

fix: ci py deps
  .github/workflows/test.yml
Due: none

doc: added docs
  README.md
  examples/modules/python/src/PythonRPC.ts
Due: none

chore: prod pypi config
  .github/workflows/release-api-py.yml
  .github/workflows/release-sdk-py.yml
Due: none

docs: added migration guide to README
  README.md
  packages/hahnpro/hahnpro_flow_sdk/pyproject.toml
  packages/hahnpro/hahnpro_hpc_api/pyproject.toml
Due: none

chore: fix formatting
  .github/actions/prepare-pnpm/action.yml
  packages/cli/lib/cli.mjs
  pnpm-lock.yaml
Due: audit, test-cli

chore: update to node v18
  .github/actions/prepare-pnpm/action.yml
  .github/workflows/test.yml
  examples/package.json
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

chore: added py monorepo (#165)
  .github/workflows/release-api-py.yml
  .github/workflows/release-sdk-py.yml
  .github/workflows/test-api-py.yml
  .github/workflows/test-sdk-py.yml
  .github/workflows/test.yml
  .prettierignore
  README.md
  doc/best-practises.md
  doc/dev-docs.md
  doc/development-environment.md
  examples/modules/python/src/PythonRPC.ts
  examples/modules/python/src/algebra_rpc.py
  packages/hahnpro/hahnpro_flow_sdk/README.md
  packages/hahnpro/hahnpro_flow_sdk/__init__.py
  packages/hahnpro/hahnpro_flow_sdk/poetry.lock
  packages/hahnpro/hahnpro_flow_sdk/pyproject.toml
  packages/hahnpro/hahnpro_flow_sdk/rpc/__init__.py
  packages/hahnpro/hahnpro_flow_sdk/rpc/rpc_server.py
  packages/hahnpro/hahnpro_hpc_api/README.md
  packages/hahnpro/hahnpro_hpc_api/__init__.py
  packages/hahnpro/hahnpro_hpc_api/api/__init__.py
  packages/hahnpro/hahnpro_hpc_api/api/api.py
  packages/hahnpro/hahnpro_hpc_api/api/asset_service.py
  packages/hahnpro/hahnpro_hpc_api/api/content_service.py
  packages/hahnpro/hahnpro_hpc_api/api/http_client.py
  packages/hahnpro/hahnpro_hpc_api/api/test_api.py
  packages/hahnpro/hahnpro_hpc_api/api/test_http_client.py
  packages/hahnpro/hahnpro_hpc_api/api/token_set.py
  packages/hahnpro/hahnpro_hpc_api/poetry.lock
  packages/hahnpro/hahnpro_hpc_api/pyproject.toml
  workspace.toml
Due: none

Revert "chore: added py monorepo (#165)"
  .github/workflows/release-api-py.yml
  .github/workflows/release-sdk-py.yml
  .github/workflows/test-api-py.yml
  .github/workflows/test-sdk-py.yml
  .github/workflows/test.yml
  .prettierignore
  README.md
  doc/best-practises.md
  doc/dev-docs.md
  doc/development-environment.md
  examples/modules/python/src/PythonRPC.ts
  examples/modules/python/src/algebra_rpc.py
  packages/hahnpro/hahnpro_flow_sdk/README.md
  packages/hahnpro/hahnpro_flow_sdk/__init__.py
  packages/hahnpro/hahnpro_flow_sdk/poetry.lock
  packages/hahnpro/hahnpro_flow_sdk/pyproject.toml
  packages/hahnpro/hahnpro_flow_sdk/rpc/__init__.py
  packages/hahnpro/hahnpro_flow_sdk/rpc/rpc_server.py
  packages/hahnpro/hahnpro_hpc_api/README.md
  packages/hahnpro/hahnpro_hpc_api/__init__.py
  packages/hahnpro/hahnpro_hpc_api/api/__init__.py
  packages/hahnpro/hahnpro_hpc_api/api/api.py
  packages/hahnpro/hahnpro_hpc_api/api/asset_service.py
  packages/hahnpro/hahnpro_hpc_api/api/content_service.py
  packages/hahnpro/hahnpro_hpc_api/api/http_client.py
  packages/hahnpro/hahnpro_hpc_api/api/test_api.py
  packages/hahnpro/hahnpro_hpc_api/api/test_http_client.py
  packages/hahnpro/hahnpro_hpc_api/api/token_set.py
  packages/hahnpro/hahnpro_hpc_api/poetry.lock
  packages/hahnpro/hahnpro_hpc_api/pyproject.toml
  workspace.toml
Due: none

Revert "chore: added py monorepo (#165)" (#175)
  .github/workflows/release-api-py.yml
  .github/workflows/release-sdk-py.yml
  .github/workflows/test-api-py.yml
  .github/workflows/test-sdk-py.yml
  .github/workflows/test.yml
  .prettierignore
  README.md
  doc/best-practises.md
  doc/dev-docs.md
  doc/development-environment.md
  examples/modules/python/src/PythonRPC.ts
  examples/modules/python/src/algebra_rpc.py
  packages/hahnpro/hahnpro_flow_sdk/README.md
  packages/hahnpro/hahnpro_flow_sdk/__init__.py
  packages/hahnpro/hahnpro_flow_sdk/poetry.lock
  packages/hahnpro/hahnpro_flow_sdk/pyproject.toml
  packages/hahnpro/hahnpro_flow_sdk/rpc/__init__.py
  packages/hahnpro/hahnpro_flow_sdk/rpc/rpc_server.py
  packages/hahnpro/hahnpro_hpc_api/README.md
  packages/hahnpro/hahnpro_hpc_api/__init__.py
  packages/hahnpro/hahnpro_hpc_api/api/__init__.py
  packages/hahnpro/hahnpro_hpc_api/api/api.py
  packages/hahnpro/hahnpro_hpc_api/api/asset_service.py
  packages/hahnpro/hahnpro_hpc_api/api/content_service.py
  packages/hahnpro/hahnpro_hpc_api/api/http_client.py
  packages/hahnpro/hahnpro_hpc_api/api/test_api.py
  packages/hahnpro/hahnpro_hpc_api/api/test_http_client.py
  packages/hahnpro/hahnpro_hpc_api/api/token_set.py
  packages/hahnpro/hahnpro_hpc_api/poetry.lock
  packages/hahnpro/hahnpro_hpc_api/pyproject.toml
  workspace.toml
Due: none

chore(deps): update all non-major dependencies
  .changeset/lovely-panthers-thank.md
  packages/api/package.json
  packages/cli/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-api

chore(deps): update all non-major dependencies
  .changeset/rich-shirts-fry.md
  pnpm-lock.yaml
Due: audit

fix(deps): downgrade axios
  .changeset/bright-carpets-repair.md
  packages/api/package.json
  packages/cli/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-api

fix(deps): downgrade axios (#182)
  .changeset/bright-carpets-repair.md
  packages/api/package.json
  packages/cli/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-api

feat: added capability to add custom serializes to RPC functions
  examples/modules/python/README.md
  packages/sdk/lib/rpc_server.py
  packages/sdk/test/rpc.spec.ts
  packages/sdk/test/rpc.test.py
Due: test-sdk

test: added test from custom serializers
  packages/sdk/test/rpc.spec.ts
Due: test-sdk

chore: added changeset
  .changeset/many-ghosts-flash.md
Due: none

feat(sdk): Custom py serializers (#185)
  .changeset/many-ghosts-flash.md
  examples/modules/python/README.md
  packages/sdk/lib/rpc_server.py
  packages/sdk/test/rpc.spec.ts
  packages/sdk/test/rpc.test.py
Due: test-sdk

chore(deps): update all non-major dependencies
  .github/actions/prepare-pnpm/action.yml
  examples/package.json
  package.json
  packages/cli/lib/cli.mjs
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

chore(deps): update all non-major dependencies
  .github/renovate.json
  packages/api/package.json
  packages/cli/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-api

feat(cli): multi-project commands
  .changeset/breezy-moles-swim.md
  .github/workflows/test.yml
  packages/cli/lib/cli.mjs
Due: test-cli

feat(cli): multi-project commands (#187)
  .changeset/breezy-moles-swim.md
  .github/workflows/test.yml
  packages/cli/lib/cli.mjs
Due: test-cli
