Repository hahnprojects/flow: changes, and which GitLab CI jobs are due for each by the changed paths.
All: audit, test-cli, test-sdk, test-api

.gitlab/.gitlab-ci.yml:

stages:
  - test

commit-messages:
  stage: test
  image: outillage/commitsar:0.16.0
  script:
    - commitsar
  rules:
    - if: $CI_MERGE_REQUEST_ID
      allow_failure: true

.pnpm:
  image: node:lts
  stage: test
  before_script:
    - npm install -g pnpm
    - pnpm install
    # - pnpm -r prepublishOnly

audit:
  extends: .pnpm
  script:
    - pnpm audit --prod
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - package.json
        - pnpm-lock.yaml
        - packages/sdk/**/package.json
      allow_failure: true

lint:
  extends: .pnpm
  script:
    - pnpm lint
  rules:
    - if: $CI_MERGE_REQUEST_ID

test-cli:
  extends: .pnpm
  script:
    - pnpm test packages/cli
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - packages/cli/**/*
        - package.json

test-sdk:
  extends: .pnpm
  script:
    - pnpm test packages/sdk -- --testPathIgnorePatterns rpc.spec.ts sidrive.spec.ts
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - packages/sdk/**/*
        - package.json

test-api:
  extends: .pnpm
  stage: test
  script:
    - pnpm test packages/api -- --testPathIgnorePatterns api.spec.ts
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - packages/api/**/*
        - package.json

chore(deps): update all non-major dependencies
  .github/workflows/test.yml
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-sdk

fix(sdk): remove env var config for amqp and nats connections
  .changeset/gold-parrots-float.md
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/amqp.ts
  packages/sdk/lib/nats.ts
Due: test-sdk

chore(deps): update all non-major dependencies
  .github/actions/prepare-pnpm/action.yml
  pnpm-lock.yaml
Due: audit

chore(deps): update all non-major dependencies
  pnpm-lock.yaml
Due: audit

chore: fix linting
  .changeset/silver-owls-search.md
  package.json
  packages/api/lib/flow-deployment.service.ts
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/FlowElement.ts
  packages/sdk/lib/FlowModule.ts
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

fix: updated peer-dep
  .changeset/dirty-radios-scream.md
  packages/sdk/package.json
Due: audit, test-sdk

fix: fixed lock file
  pnpm-lock.yaml
Due: audit

feat(sdk): allow flow deployment to be run with owners permissions
  .changeset/lucky-months-love.md
  packages/api/lib/api.ts
  packages/api/lib/http.service.ts
  packages/api/lib/resource.interface.ts
  packages/api/test/http.service.spec.ts
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/flow.interface.ts
Due: test-sdk, test-api

feat(sdk): allow flow deployment to be run with owners permissions (#372)
  .changeset/lucky-months-love.md
  packages/api/lib/api.ts
  packages/api/lib/http.service.ts
  packages/api/lib/resource.interface.ts
  packages/api/test/http.service.spec.ts
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/flow.interface.ts
Due: test-sdk, test-api

feat(global-flow-context): added key value context
  packages/sdk/lib/ContextManager.ts
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/FlowElement.ts
  packages/sdk/lib/index.ts
  packages/sdk/test/context-manager.spec.ts
Due: test-sdk

fix(global-context): wrong syntax for the fill template function
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/FlowElement.ts
Due: test-sdk

fix(global-context): fixed a property path error
  packages/sdk/lib/ContextManager.ts
  packages/sdk/lib/FlowElement.ts
Due: test-sdk

feat(global-context): adding changeset
  .changeset/big-rice-talk.md
Due: none

feat(global-context): prettier
  packages/sdk/lib/FlowApplication.ts
Due: test-sdk

feat(global-context): updated getter und setter with paths
  packages/sdk/lib/ContextManager.ts
Due: test-sdk

feat(global-context): removed warning at overwrite property
  packages/sdk/lib/ContextManager.ts
Due: test-sdk

feat(context-manager): added placeholder settings and tests
  packages/sdk/lib/ContextManager.ts
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/FlowElement.ts
  packages/sdk/test/context-manager-purpose.spec.ts
  packages/sdk/test/context-manager.spec.ts
Due: test-sdk

fix(context-for-flows): only flow. placeholders are replace at init and update
  packages/sdk/lib/ContextManager.ts
  packages/sdk/test/context-manager-purpose.spec.ts
Due: test-sdk

fix(context-for-flows): prettier
  packages/sdk/lib/ContextManager.ts
Due: test-sdk

feat(global-context): Adding a "global context" instead of interpolate (#378)
  .changeset/big-rice-talk.md
  packages/sdk/lib/ContextManager.ts
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/FlowElement.ts
  packages/sdk/lib/index.ts
  packages/sdk/test/context-manager-purpose.spec.ts
  packages/sdk/test/context-manager.spec.ts
Due: test-sdk

fix: fixed missing context manager when testing standalone element
  packages/sdk/lib/FlowElement.ts
  packages/sdk/test/context.spec.ts
Due: test-sdk

chore: added changeset
  .changeset/young-buttons-hang.md
Due: none

fix: fixed test
  packages/sdk/test/context.spec.ts
Due: test-sdk

fix: fixed missing context manager when testing standalone element (#382)
  .changeset/young-buttons-hang.md
  packages/sdk/lib/FlowElement.ts
  packages/sdk/test/context.spec.ts
Due: test-sdk

chore(deps): update all non-major dependencies
  .changeset/modern-papayas-try.md
  pnpm-lock.yaml
Due: audit

fix: added property parsing after substitution
  .changeset/eight-kids-draw.md
  packages/sdk/lib/ContextManager.ts
  packages/sdk/test/context-manager-purpose.spec.ts
Due: test-sdk

fix: lint
  packages/sdk/test/context-manager-purpose.spec.ts
Due: test-sdk

fix: fixed wrong context init
  packages/sdk/lib/ContextManager.ts
  packages/sdk/test/context-manager-purpose.spec.ts
Due: test-sdk

Revert "fix: fixed wrong context init"
  packages/sdk/lib/ContextManager.ts
  packages/sdk/test/context-manager-purpose.spec.ts
Due: test-sdk

chore: changeset
  .changeset/lovely-foxes-chew.md
Due: none

fix: fixed tests
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/test/context.spec.ts
Due: test-sdk

fix: fixed bug where non-flow context could get lost
  packages/sdk/lib/ContextManager.ts
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/test/context-manager.spec.ts
Due: test-sdk

fix: fixed wrong context init (#395)
  .changeset/lovely-foxes-chew.md
  packages/sdk/lib/ContextManager.ts
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/test/context-manager-purpose.spec.ts
  packages/sdk/test/context-manager.spec.ts
  packages/sdk/test/context.spec.ts
Due: test-sdk

chore(deps): update all non-major dependencies
  .changeset/tall-berries-watch.md
  .github/actions/prepare-pnpm/action.yml
  examples/package.json
  package.json
  packages/cli/package.json
  packages/sdk/lib/ContextManager.ts
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

fix: added missing asset-type-service to Mock-API
  .changeset/shy-dragons-occur.md
  packages/api/lib/mock/api.mock.ts
  packages/api/lib/mock/assetTypes.mock.service.ts
  packages/api/test/api.mock.spec.ts
Due: test-api

fix(sdk): add missing asset-type-service to mock-api (#406)
  .changeset/shy-dragons-occur.md
  packages/api/lib/mock/api.mock.ts
  packages/api/lib/mock/assetTypes.mock.service.ts
  packages/api/test/api.mock.spec.ts
Due: test-api

fix(deps): update all non-major dependencies
  .changeset/great-carpets-move.md
  pnpm-lock.yaml
Due: audit

chore: migrated to new nats packages
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/nats.ts
  packages/sdk/package.json
  packages/sdk/test/flow.spec.ts
  pnpm-lock.yaml
Due: audit, test-sdk
