Repository hahnprojects/flow: changes, and which GitLab CI jobs are due for each by the changed paths.
All: audit, test-cli, test-sdk, test-api

audit:
  image: node:lts
  stage: test
  before_script:
  - npm install -g pnpm
  - pnpm install
  script:
  - pnpm audit --prod

test-cli:
  image: node:lts
  stage: test
  before_script:
  - npm install -g pnpm
  - pnpm install
  script:
  - pnpm test packages/cli

test-sdk:
  image: node:lts
  stage: test
  before_script:
  - npm install -g pnpm
  - pnpm install
  script:
  - pnpm test packages/sdk -- --testPathIgnorePatterns rpc.spec.ts sidrive.spec.ts

test-api:
  image: node:lts
  stage: test
  before_script:
  - npm install -g pnpm
  - pnpm install
  script:
  - pnpm test packages/api -- --testPathIgnorePatterns api.spec.ts

feat(sdk): added Mock-API parameter to FlowApplication constructor
  .changeset/fluffy-glasses-jog.md
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/test/flow.spec.ts
Due: test-sdk

feat(sdk): added Mock-API parameter to FlowApplication constructor (#236)
  .changeset/fluffy-glasses-jog.md
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/test/flow.spec.ts
Due: test-sdk

chore(deps): update all non-major dependencies
  pnpm-lock.yaml
Due: audit

fix(api): addition of ts values and events in mock api
  .changeset/long-foxes-obey.md
  packages/api/lib/mock/api.mock.ts
  packages/api/lib/mock/timeseries.mock.service.ts
Due: test-api

fix(api): addition of ts values and events in mock api (#239)
  .changeset/long-foxes-obey.md
  packages/api/lib/mock/api.mock.ts
  packages/api/lib/mock/timeseries.mock.service.ts
Due: test-api

chore(deps): update all non-major dependencies
  .github/actions/prepare-pnpm/action.yml
  pnpm-lock.yaml
Due: audit

fix(api): remove deprecated api methods
  .changeset/dry-walls-eat.md
  .github/workflows/test.yml
  doc/dev-docs.md
  packages/api/lib/api.ts
  packages/api/lib/index.ts
  packages/api/lib/mock/api.mock.ts
  packages/api/lib/mock/asset.mock.service.ts
  packages/api/lib/sidriveiq.interface.ts
  packages/api/lib/sidriveiq.service.ts
  packages/api/test/api.mock.spec.ts
Due: test-api

feat(api): allow http client to be provided
  .changeset/hot-candles-joke.md
  packages/api/lib/api.ts
  packages/api/lib/http.service.ts
  packages/sdk/lib/FlowApplication.ts
Due: test-sdk, test-api

feat(api): allow http client to be provided (#247)
  .changeset/dry-walls-eat.md
  .changeset/hot-candles-joke.md
  .github/workflows/test.yml
  doc/dev-docs.md
  packages/api/lib/api.ts
  packages/api/lib/http.service.ts
  packages/api/lib/index.ts
  packages/api/lib/mock/api.mock.ts
  packages/api/lib/mock/asset.mock.service.ts
  packages/api/lib/sidriveiq.interface.ts
  packages/api/lib/sidriveiq.service.ts
  packages/api/test/api.mock.spec.ts
  packages/sdk/lib/FlowApplication.ts
Due: test-sdk, test-api

fix: api client param
  packages/sdk/lib/FlowApplication.ts
Due: test-sdk

chore(deps): update all non-major dependencies
  .changeset/nine-badgers-fry.md
  packages/api/lib/http.service.ts
  packages/cli/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-api

feat(api): added method in timeseries service
  packages/api/lib/timeseries.service.ts
Due: test-api

chore: downgrade ts, increase js memory size
  .github/workflows/test.yml
  examples/package.json
  package.json
  packages/api/package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

chore(deps): update all non-major dependencies
  .changeset/unlucky-kiwis-relax.md
  examples/package.json
  package.json
  packages/cli/lib/cli.mjs
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

fix(deps): update all non-major dependencies
  .changeset/big-eagles-hunt.md
  examples/package.json
  package.json
  packages/cli/lib/auth.mjs
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

chore(deps): update all non-major dependencies
  .github/workflows/test.yml
  examples/tsconfig.json
  packages/sdk/tsconfig.json
  tsconfig.json
Due: test-sdk

feat(notification.service): notify users who have specific role
  packages/api/lib/notification.interface.ts
  packages/api/lib/notification.service.ts
Due: test-api

refactor: changeset
  .changeset/eleven-doors-sparkle.md
  packages/api/lib/notification.service.ts
Due: test-api

chore(deps): update all non-major dependencies
  examples/package.json
  package.json
  packages/api/lib/api-base.ts
  packages/api/lib/mock/asset.mock.service.ts
  packages/api/lib/mock/assetTypes.mock.service.ts
  packages/api/lib/mock/flow-deployment.mock.service.ts
  packages/api/lib/mock/flow-functions.mock.service.ts
  packages/api/lib/mock/flow.mock.service.ts
  packages/cli/package.json
  packages/sdk/lib/RpcClient.ts
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

chore(deps): update all non-major dependencies
  examples/package.json
  package.json
  packages/cli/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

refactor: changeset
  .changeset/eleven-doors-sparkle.md
Due: none

fix(api): update notification service interface (#260)
  .changeset/eleven-doors-sparkle.md
  packages/api/lib/notification.interface.ts
Due: test-api

feat(api): add event level override functions
  .changeset/happy-masks-vanish.md
  packages/api/lib/asset.interface.ts
  packages/api/lib/asset.service.ts
  packages/api/lib/mock/asset.mock.service.ts
  packages/api/test/api.mock.spec.ts
  packages/api/test/api.spec.ts
Due: test-api

feat(api): add event level override functions (#268)
  .changeset/happy-masks-vanish.md
  packages/api/lib/asset.interface.ts
  packages/api/lib/asset.service.ts
  packages/api/lib/mock/asset.mock.service.ts
  packages/api/test/api.mock.spec.ts
  packages/api/test/api.spec.ts
Due: test-api

chore(deps): update all non-major dependencies
  examples/package.json
  package.json
  packages/api/lib/mock/asset.mock.service.ts
  packages/cli/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

fix(api): set build target to be compatible with tools using older language versions
  .changeset/unlucky-pens-hide.md
  packages/api/lib/mock/api.mock.ts
  packages/api/tsconfig.json
Due: test-api

fix(api): set build target to be compatible with tools using older language versions (#272)
  .changeset/unlucky-pens-hide.md
  packages/api/lib/mock/api.mock.ts
  packages/api/tsconfig.json
Due: test-api

chore(deps): update all non-major dependencies
  packages/api/lib/timeseries.service.ts
  pnpm-lock.yaml
Due: audit, test-api

chore(deps): update all non-major dependencies
  .changeset/gentle-spiders-repair.md
  pnpm-lock.yaml
Due: audit

chore(deps): update all non-major dependencies
  .github/renovate.json
  README.md
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-sdk

chore(deps): update to node 20
  .changeset/short-items-count.md
  examples/package.json
  package.json
  packages/api/lib/user.service.ts
  packages/api/package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

chore: version packages
  .changeset/short-items-count.md
  examples/CHANGELOG.md
  examples/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: audit, test-cli, test-sdk, test-api

Add methods to add multiple time series and values to assets
  packages/api/lib/timeseries.service.ts
Due: test-api

Update version number to 5.1.0 in package.json
  packages/api/package.json
Due: test-api

Add mock method to add multiple asset time series values
  packages/api/lib/mock/timeseries.mock.service.ts
  packages/sdk/test/flow.spec.ts
Due: test-sdk, test-api

Path conditions:
  audit: any of: package.json, pnpm-lock.yaml, packages/sdk/**/package.json
  test-cli: any of: packages/cli/**/*, package.json
  test-sdk: any of: packages/sdk/**/*, package.json
  test-api: any of: packages/api/**/*, package.json
