Repository hahnprojects/flow: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-cli, test-sdk

.gitlab/.gitlab-ci.yml:

stages:
  - test

commit-messages:
  stage: test
  image: outillage/commitsar:0.15.0
  script:
    - commitsar
  allow_failure: true
  rules:
    - if: $CI_MERGE_REQUEST_ID

test-cli:
  stage: test
  image: node:14
  script:
    - npx lerna bootstrap
    - npm test packages/cli
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - packages/cli/**/*
        - package.json

test-sdk:
  stage: test
  image: node:14
  script:
    - npx lerna bootstrap
    - npm test packages/sdk -- --testPathIgnorePatterns api.spec.ts http.service.spec.ts rpc.spec.ts sidrive.spec.ts
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - packages/sdk/**/*
        - package.json

chore: release flow-sdk v4.8.0
  CHANGELOG.md
  README.md
  examples/modules/example/src/DoNothing.ts
  examples/modules/example/src/DoSomething.ts
  examples/modules/example/src/ModifySomething.ts
  examples/modules/python/src/PythonRPC.ts
  examples/modules/python/src/PythonShell.ts
  examples/package-lock.json
  examples/package.json
  package-lock.json
  package.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/sdk/package-lock.json
  packages/sdk/package.json
Due: test-cli, test-sdk

fix: fixed generation of docstrings
  .gitignore
  package-lock.json
  packages/sdk/package.json
  packages/sdk/tsconfig.json
  packages/sdk/tsconfig.nocomments.json
Due: test-sdk

chore: release flow-sdk v4.8.1
  examples/package-lock.json
  examples/package.json
  package-lock.json
  package.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/sdk/package-lock.json
  packages/sdk/package.json
Due: test-cli, test-sdk

chore: release flow-cli v2.7.7
  examples/package-lock.json
  examples/package.json
  packages/cli/lib/cli.js
  packages/cli/package-lock.json
  packages/cli/package.json
Due: test-cli

doc: added migration guide
  README.md
Due: none

feat: auto declare amqp exchanges
  examples/modules/python/src/algebra_rpc.py
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/FlowElement.ts
  packages/sdk/test/input-stream.decorator.spec.ts
  packages/sdk/test/rpc.spec.ts
  packages/sdk/test/rpc.test.py
Due: test-sdk

chore: release flow-sdk v4.8.2
  README.md
  package-lock.json
  package.json
  packages/sdk/package-lock.json
  packages/sdk/package.json
  packages/sdk/test/flow.spec.ts
  packages/sdk/test/rx.spec.ts
  packages/sdk/tsconfig.nocomments.json
Due: test-cli, test-sdk

feat: add checkDeletionDate method to sdk to use it in flowTasks
  packages/sdk/lib/api/asset.interface.ts
  packages/sdk/lib/api/content.interface.ts
  packages/sdk/lib/api/data.interface.ts
  packages/sdk/lib/api/data.service.ts
Due: test-sdk

chore: fix dependencies
  package-lock.json
  packages/cli/package-lock.json
  packages/sdk/package-lock.json
  packages/sdk/package.json
Due: test-cli, test-sdk

docs: add docs for testing, best-practises and development environment
  doc/best-practises.md
  doc/development-environment.md
  doc/images/connection_successful_but_not_available.PNG
  doc/images/no_tests_found.PNG
  doc/images/rabbitmq_not_available.PNG
  doc/images/ts_not_configured.PNG
  doc/testing.md
  examples/modules/example/src/flow.spec.ts
  examples/modules/python/src/PythonRPC.ts
  examples/modules/python/src/algebra_rpc.py
  examples/modules/python/src/python.spec.ts
  examples/package-lock.json
  examples/package.json
Due: none

feat: add event api
  packages/sdk/lib/api/api.interface.ts
  packages/sdk/lib/api/api.ts
  packages/sdk/lib/api/events.interface.ts
  packages/sdk/lib/api/events.service.ts
  packages/sdk/lib/api/index.ts
  packages/sdk/lib/api/mock/api.mock.ts
  packages/sdk/lib/api/mock/events.mock.service.ts
  packages/sdk/lib/api/mock/index.ts
  packages/sdk/test/api.mock.spec.ts
  packages/sdk/test/api.spec.ts
Due: test-sdk

chore: release flow-sdk v.4.9.0
  doc/best-practises.md
  doc/development-environment.md
  doc/testing.md
  examples/package-lock.json
  package-lock.json
  package.json
  packages/sdk/package-lock.json
  packages/sdk/package.json
Due: test-cli, test-sdk

feat: Unit decorators
  .gitlab/issue_templates/unit-request.md
  doc/unit-system.md
  packages/cli/lib/cli.js
  packages/cli/test/prepare-ts-file.spec.ts
  packages/sdk/lib/index.ts
  packages/sdk/lib/unit-decorators.ts
  packages/sdk/lib/unit-utils.ts
  packages/sdk/lib/units.ts
  packages/sdk/package-lock.json
  packages/sdk/package.json
  packages/sdk/test/unit-decorator.spec.ts
Due: test-cli, test-sdk

chore: release flow-sdk v4.10.0 & flow-cli v2.8.0
  .gitlab/issue_templates/unit-request.md
  doc/unit-system.md
  examples/package-lock.json
  examples/package.json
  package-lock.json
  package.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/sdk/package-lock.json
  packages/sdk/package.json
Due: test-cli, test-sdk

feat: improve proxy support for flow-cli
  packages/cli/lib/cli.js
  packages/cli/package-lock.json
  packages/cli/package.json
Due: test-cli

docs: added docs for typing use-cases
  doc/flow-function-stream-typing.md
Due: none

feat: added new download function to content service
  packages/sdk/lib/api/content.interface.ts
  packages/sdk/lib/api/content.service.ts
  packages/sdk/lib/api/mock/content.mock.service.ts
  packages/sdk/test/api.mock.spec.ts
Due: test-sdk

feat: changed to using overloading and added missing return types
  packages/sdk/lib/api/content.interface.ts
  packages/sdk/lib/api/content.service.ts
  packages/sdk/lib/api/mock/content.mock.service.ts
  packages/sdk/test/api.mock.spec.ts
Due: test-sdk

feat: added more overloads
  packages/sdk/lib/api/content.interface.ts
  packages/sdk/lib/api/content.service.ts
  packages/sdk/lib/api/mock/content.mock.service.ts
Due: test-sdk

chore: release flow-sdk v4.11.0
  packages/sdk/package-lock.json
  packages/sdk/package.json
Due: test-sdk

chore: update dependencies; remove nestjs peer dependencies
  examples/package-lock.json
  examples/package.json
  package-lock.json
  package.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/amqp.ts
  packages/sdk/package-lock.json
  packages/sdk/package.json
Due: test-cli, test-sdk

feat: added more overloads
  packages/sdk/lib/extra-validators.ts
  packages/sdk/test/extra-validators.spec.ts
Due: test-sdk

feat: made validator fail if none is defined
  packages/sdk/lib/extra-validators.ts
  packages/sdk/test/extra-validators.spec.ts
Due: test-sdk

chore: release flow-sdk v4.12.1
  packages/sdk/package-lock.json
  packages/sdk/package.json
Due: test-sdk

feat: read last event by asset and group
  packages/sdk/lib/api/endpoint.interface.ts
  packages/sdk/lib/api/endpoint.service.ts
  packages/sdk/lib/api/events.interface.ts
  packages/sdk/lib/api/events.service.ts
  packages/sdk/lib/api/mock/endpoint.mock.service.ts
  packages/sdk/lib/api/mock/events.mock.service.ts
  packages/sdk/test/api.mock.spec.ts
  packages/sdk/test/api.spec.ts
Due: test-sdk

chore: release flow-sdk v4.13.0
  package-lock.json
  package.json
  packages/sdk/package-lock.json
  packages/sdk/package.json
Due: test-cli, test-sdk

fix: add group property for event in the mock api
  packages/sdk/lib/api/mock/api.mock.ts
Due: test-sdk

fix: update timeseries and asset interface
  packages/sdk/lib/api/asset.interface.ts
  packages/sdk/lib/api/timeseries.interface.ts
Due: test-sdk

fix: add some properties for timeseries, asset and event
  packages/sdk/lib/api/events.interface.ts
  packages/sdk/lib/api/mock/api.mock.ts
  packages/sdk/lib/api/timeseries.interface.ts
Due: test-sdk

fix: test sdk
  packages/sdk/lib/api/mock/api.mock.ts
  packages/sdk/lib/api/mock/timeseries.mock.service.ts
Due: test-sdk

chore: release flow-sdk v4.13.1
  packages/sdk/package-lock.json
  packages/sdk/package.json
Due: test-sdk

build: replace npm and lerna with pnpm
  examples/package-lock.json
  examples/package.json
  lerna.json
  package-lock.json
  package.json
  packages/cli/package-lock.json
  packages/sdk/package-lock.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: test-cli, test-sdk

ci: setup renovate
  .gitlab/.gitlab-ci.yml
  .gitlab/renovate.json
  examples/package.json
  package.json
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/amqp.ts
  packages/sdk/package.json
  pnpm-lock.yaml
Due: test-cli, test-sdk

ci: improve renovate config
  .gitlab/.gitlab-ci.yml
  .gitlab/renovate.json
Due: none

chore(deps): update all non-major dependencies
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: test-cli, test-sdk

fix(deps): update test packages
  packages/cli/package.json
  pnpm-lock.yaml
Due: test-cli

refactor(flow-cli): improve pnpm compatability
  examples/package.json
  packages/cli/lib/cli.js
  packages/cli/package.json
  pnpm-lock.yaml
Due: test-cli

fix(deps): update dependency commander to v8
  packages/cli/package.json
  pnpm-lock.yaml
Due: test-cli

chore(deps): update test packages
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: test-cli, test-sdk

test: migration to jest v27
  .gitlab/renovate.json
  examples/modules/example/src/flow.spec.ts
  examples/modules/example/src/simple.spec.ts
  examples/modules/python/src/python.spec.ts
  examples/package.json
  examples/tsconfig.test.json
  jest.config.js
  packages/cli/jest.config.js
  packages/cli/lib/cli.js
  packages/cli/package.json
  packages/cli/test/check-types.spec.ts
  packages/sdk/jest.config.js
  packages/sdk/package.json
  packages/sdk/test/api.mock.spec.ts
  packages/sdk/test/api.spec.ts
  packages/sdk/test/context.spec.ts
  packages/sdk/test/event.spec.ts
  packages/sdk/test/flow.spec.ts
  packages/sdk/test/input-stream.decorator.spec.ts
  packages/sdk/test/long-running-rpc.spec.ts
  packages/sdk/test/message.spec.ts
  packages/sdk/test/rpc.spec.ts
  packages/sdk/test/rx.spec.ts
  packages/sdk/test/sidrive.spec.ts
  pnpm-lock.yaml
  tsconfig.test.json
Due: test-cli, test-sdk
