Repository hahnprojects/flow: changes, and which GitLab CI jobs are due for each by the changed paths.
All: audit, test-cli, test-sdk, test-api

.gitlab/.gitlab-ci.yml:

stages:
  - test

commit-messages:
  stage: test
  image: outillage/commitsar:0.16.0
  script:
    - commitsar
  rules:
    - if: $CI_MERGE_REQUEST_ID
      allow_failure: true

.pnpm:
  image: node:lts
  stage: test
  before_script:
    - npm install -g pnpm
    - pnpm install
    # - pnpm -r prepublishOnly

audit:
  extends: .pnpm
  script:
    - pnpm audit --prod
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - package.json
        - pnpm-lock.yaml
        - packages/sdk/**/package.json
      allow_failure: true

lint:
  extends: .pnpm
  script:
    - pnpm lint
  rules:
    - if: $CI_MERGE_REQUEST_ID

test-cli:
  extends: .pnpm
  script:
    - pnpm test packages/cli
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - packages/cli/**/*
        - package.json

test-sdk:
  extends: .pnpm
  script:
    - pnpm test packages/sdk -- --testPathIgnorePatterns rpc.spec.ts sidrive.spec.ts
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - packages/sdk/**/*
        - package.json

test-api:
  extends: .pnpm
  stage: test
  script:
    - pnpm test packages/api -- --testPathIgnorePatterns api.spec.ts
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - packages/api/**/*
        - package.json

feat(api): extend filters of getManyFiltered() + improve mock api
  .changeset/grumpy-apricots-kiss.md
  packages/api/lib/data.interface.ts
  packages/api/lib/data.service.ts
  packages/api/lib/mock/api.mock.ts
  packages/api/lib/mock/data.mock.service.ts
  packages/api/lib/mock/timeseries.mock.service.ts
  packages/api/lib/timeseries.interface.ts
Due: test-api

fix(api): filtering in mock api
  packages/api/lib/mock/data.mock.service.ts
Due: test-api

feat(api): add sorting of many values to mock api
  packages/api/lib/asset.interface.ts
  packages/api/lib/data.service.ts
  packages/api/lib/mock/api.mock.ts
  packages/api/lib/mock/data.mock.service.ts
Due: test-api

test(api): add tests for sorting and filtering to mock api
  packages/api/test/api.mock.spec.ts
  packages/api/test/helper.ts
Due: test-api

feat(api): extend filters of getManyFiltered() + improve mock api (#301)
  .changeset/grumpy-apricots-kiss.md
  packages/api/lib/asset.interface.ts
  packages/api/lib/data.interface.ts
  packages/api/lib/data.service.ts
  packages/api/lib/mock/api.mock.ts
  packages/api/lib/mock/data.mock.service.ts
  packages/api/lib/mock/timeseries.mock.service.ts
  packages/api/lib/timeseries.interface.ts
  packages/api/test/api.mock.spec.ts
  packages/api/test/helper.ts
Due: test-api

chore: add changeset & refactoring
  .changeset/orange-penguins-warn.md
  packages/api/lib/mock/timeseries.mock.service.ts
  packages/api/lib/timeseries.service.ts
Due: test-api

feat(api): add methods to add multiple time series and values to assets (#300)
  .changeset/orange-penguins-warn.md
  packages/api/lib/mock/timeseries.mock.service.ts
  packages/api/lib/timeseries.service.ts
  packages/sdk/test/flow.spec.ts
Due: test-sdk, test-api

fix(api): add type check to getFilterString function
  .changeset/short-points-tease.md
  packages/api/lib/data.service.ts
Due: test-api

fix(api): add type check to getFilterString function (#305)
  .changeset/short-points-tease.md
  packages/api/lib/data.service.ts
Due: test-api

fix: undefiend filter values
  packages/api/lib/data.service.ts
  packages/api/test/api.spec.ts
Due: test-api

chore: vresion bumb
  packages/api/CHANGELOG.md
  packages/api/package.json
Due: test-api

chore: codefactor
  packages/api/lib/data.service.ts
  packages/api/test/api.spec.ts
Due: test-api

fix(api): fix filtering for api data services
  packages/api/CHANGELOG.md
  packages/api/lib/data.service.ts
  packages/api/package.json
  packages/api/test/api.spec.ts
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: audit, test-sdk, test-api

refactor: refactor getFilterString method, add data service test
  .changeset/loud-cows-pull.md
  README.md
  packages/api/CHANGELOG.md
  packages/api/lib/data.service.ts
  packages/api/test/data.service.spec.ts
  pnpm-lock.yaml
Due: audit, test-api

chore(deps): update all non-major dependencies
  pnpm-lock.yaml
Due: audit

chore(deps): update all non-major dependencies
  .changeset/twenty-zoos-smoke.md
  examples/modules/example/tsconfig.json
  examples/modules/python/tsconfig.json
  examples/package.json
  examples/tsconfig.json
  package.json
  packages/api/package.json
  packages/api/tsconfig.json
  packages/cli/package.json
  packages/sdk/package.json
  packages/sdk/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: audit, test-cli, test-sdk, test-api

chore: migrate to python-shell v5
  .changeset/tricky-shoes-cheer.md
  .github/workflows/test.yml
  doc/development-environment.md
  doc/flow-testing-pipeline.md
  packages/sdk/lib/FlowElement.ts
Due: test-sdk

chore: ignore p-queue dependency updates
  .github/renovate.json
  packages/sdk/test/long-running-rpc.spec.ts
  packages/sdk/test/rpc.spec.ts
Due: test-sdk

chore: formatting
  examples/modules/example/tsconfig.json
  examples/modules/python/tsconfig.json
  examples/tsconfig.json
  packages/api/tsconfig.json
  packages/sdk/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: audit, test-sdk, test-api

chore(deps): update all non-major dependencies
  examples/package.json
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

chore(deps): update all non-major dependencies
  .changeset/moody-deers-do.md
  pnpm-lock.yaml
Due: audit

chore(deps): update all non-major dependencies
  packages/cli/lib/auth.mjs
  packages/cli/lib/cli.mjs
  pnpm-lock.yaml
Due: audit, test-cli

chore(deps): update all non-major dependencies
  .github/actions/prepare-pnpm/action.yml
  .github/workflows/test.yml
  pnpm-lock.yaml
Due: audit

chore(deps): update all non-major dependencies
  .changeset/flat-kids-drop.md
  pnpm-lock.yaml
Due: audit

feat(nats): added nats connection in flow application
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/nats.ts
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-sdk

feat(nats): changeset
  .changeset/great-bears-argue.md
Due: none

feat(nats): renamed getter
  packages/sdk/lib/FlowApplication.ts
Due: test-sdk

feat(nats): do not create a nats connection if no config exists
  packages/sdk/lib/FlowApplication.ts
Due: test-sdk

feat(nats): added to flow application constructor
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/nats.ts
Due: test-sdk

fix(nats): removed close old connection because can no exist
  packages/sdk/lib/FlowApplication.ts
Due: test-sdk

fix(nats): removed close old connection because can not exist
  packages/sdk/lib/FlowApplication.ts
Due: test-sdk

fix(nats): constructor parameters order
  packages/sdk/lib/FlowApplication.ts
Due: test-sdk

fix(nats): constructor paramters order
  examples/modules/example/src/flow.spec.ts
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/test/flow.spec.ts
  packages/sdk/test/input-stream.decorator.spec.ts
Due: test-sdk

fix(nats): for the creation of a nats connection the config is more important than the env variables
  packages/sdk/lib/FlowElement.ts
  packages/sdk/lib/nats.ts
Due: test-sdk

test: added test for flowapp creation
  packages/sdk/test/flow.spec.ts
Due: test-sdk

fix: added nats service to ci
  .github/workflows/test.yml
Due: none

fix: lock
  pnpm-lock.yaml
Due: audit

feat(nats): add nats connection to flow application (#353)
  .changeset/great-bears-argue.md
  .github/workflows/test.yml
  examples/modules/example/src/flow.spec.ts
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/FlowElement.ts
  packages/sdk/lib/nats.ts
  packages/sdk/package.json
  packages/sdk/test/flow.spec.ts
  packages/sdk/test/input-stream.decorator.spec.ts
  pnpm-lock.yaml
Due: audit, test-sdk
