Repository hahnprojects/flow: changes, and which GitLab CI jobs are due for each by the changed paths.
All: audit, test-cli, test-sdk, test-api

.gitlab/.gitlab-ci.yml:

stages:
  - test

commit-messages:
  stage: test
  image: outillage/commitsar:0.16.0
  script:
    - commitsar
  rules:
    - if: $CI_MERGE_REQUEST_ID
      allow_failure: true

.pnpm:
  image: node:lts
  stage: test
  before_script:
    - npm install -g pnpm
    - pnpm install
    # - pnpm -r prepublishOnly

audit:
  extends: .pnpm
  script:
    - pnpm audit --prod
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - package.json
        - pnpm-lock.yaml
        - packages/sdk/**/package.json
      allow_failure: true

lint:
  extends: .pnpm
  script:
    - pnpm lint
  rules:
    - if: $CI_MERGE_REQUEST_ID

test-cli:
  extends: .pnpm
  script:
    - pnpm test packages/cli
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - packages/cli/**/*
        - package.json

test-sdk:
  extends: .pnpm
  script:
    - pnpm test packages/sdk -- --testPathIgnorePatterns rpc.spec.ts sidrive.spec.ts
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - packages/sdk/**/*
        - package.json

test-api:
  extends: .pnpm
  stage: test
  script:
    - pnpm test packages/api -- --testPathIgnorePatterns api.spec.ts
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - packages/api/**/*
        - package.json

fix(nats): fixed content test and onMessage
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/test/context.spec.ts
Due: test-sdk

fix(nats): fixed message and flows test
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/test/flow.spec.ts
  packages/sdk/test/message.spec.ts
Due: test-sdk

fix(nats): input stream decorator test
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/test/input-stream.decorator.spec.ts
Due: test-sdk

feat(nats): enable jetstream
  .github/workflows/test.yml
Due: none

fix(nats): test.yml
  .github/workflows/test.yml
Due: none

fix(nats): test.yml with jetstream
  .github/workflows/test.yml
Due: none

feat(nats): added changeset
  .changeset/open-papers-add.md
Due: none

feat(sdk): replace RabbitMQ with NATS (#455)
  .changeset/open-papers-add.md
  .github/workflows/test.yml
  examples/modules/example/src/flow.spec.ts
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/FlowElement.ts
  packages/sdk/lib/nats.ts
  packages/sdk/package.json
  packages/sdk/test/context-manager-purpose.spec.ts
  packages/sdk/test/context.spec.ts
  packages/sdk/test/flow.spec.ts
  packages/sdk/test/input-stream.decorator.spec.ts
  packages/sdk/test/message.spec.ts
  pnpm-lock.yaml
Due: audit, test-sdk

fix(nats): fixed overlapping nats stream subjects
  packages/sdk/lib/nats.ts
  packages/sdk/test/input-stream.decorator.spec.ts
Due: test-sdk

fix(nats): added changeset
  .changeset/fuzzy-windows-hang.md
Due: none

fix(deps): update all non-major dependencies
  .changeset/modern-ducks-sing.md
  .github/workflows/test.yml
  .github/workflows/validate.yml
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk

chore: fix change level
  .changeset/fuzzy-windows-hang.md
  pnpm-lock.yaml
Due: audit

fix(sdk): overlapping nats stream subjects (#458)
  .changeset/fuzzy-windows-hang.md
  packages/sdk/lib/nats.ts
  packages/sdk/test/input-stream.decorator.spec.ts
  pnpm-lock.yaml
Due: audit, test-sdk

fix(sdk): fixed wrong property access at upadting
  packages/sdk/lib/FlowApplication.ts
Due: test-sdk

chore(deps): update dependency @hahnpro/hpc-api to 2025.2.15
  .changeset/famous-weeks-fix.md
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-sdk

chore: changeset
  .changeset/lovely-bees-behave.md
Due: none

fix(sdk/tests): fixed tests
  packages/sdk/test/context.spec.ts
  packages/sdk/test/input-stream.decorator.spec.ts
Due: test-sdk

fix(sdk/tests): fixed sdk tests
  packages/sdk/test/context-manager-purpose.spec.ts
  packages/sdk/test/context.spec.ts
Due: test-sdk

fix(sdk/tests): added changeset
  .changeset/violet-tires-lick.md
Due: none

fix(sdk): fixed wrong property access at upadting (#466)
  .changeset/violet-tires-lick.md
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/test/context-manager-purpose.spec.ts
  packages/sdk/test/context.spec.ts
  packages/sdk/test/input-stream.decorator.spec.ts
Due: test-sdk

Updates flow log event data structure
  .changeset/flat-wings-prove.md
  packages/sdk/lib/FlowLogger.ts
Due: test-sdk

fix(changeset): spelling
  .changeset/flat-wings-prove.md
Due: none

feat(flowlogger): flowlog event data structure
  packages/sdk/lib/FlowLogger.ts
Due: test-sdk

feat(nats): Handles NATS reconnects and consumer cleanup
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/nats.ts
Due: test-sdk

Delete .changeset/violet-tires-lick.md
  .changeset/violet-tires-lick.md
Due: none

fix(sdk): update message parsing (#473)
  .changeset/flat-wings-prove.md
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/FlowLogger.ts
  packages/sdk/lib/nats.ts
Due: test-sdk

feat(nats): Enhances NATS consumer resilience
  .changeset/rotten-laws-search.md
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/nats.ts
Due: test-sdk

Update .changeset/rotten-laws-search.md
  .changeset/rotten-laws-search.md
Due: none

Delete .changeset/flat-wings-prove.md
  .changeset/flat-wings-prove.md
Due: none

feat(sdk): Improves NATS event handling and logging
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/FlowLogger.ts
  packages/sdk/lib/nats.ts
Due: test-sdk

fix(deps): update all non-major dependencies
  pnpm-lock.yaml
Due: audit

fix(sdk): update message parsing and recreate consumers with timings (#477)
  .changeset/rotten-laws-search.md
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/FlowLogger.ts
  packages/sdk/lib/nats.ts
Due: test-sdk

feat(flow-logger): fixed flow log message parsing
  packages/sdk/lib/FlowLogger.ts
  packages/sdk/test/flow-logger.spec.ts
Due: test-sdk

feat(flow-logger): added stacktrace
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/FlowLogger.ts
  packages/sdk/test/context-manager-purpose.spec.ts
  packages/sdk/test/context-manager.spec.ts
  packages/sdk/test/context.spec.ts
  packages/sdk/test/flow-logger.spec.ts
  packages/sdk/test/flow.spec.ts
  packages/sdk/test/message.spec.ts
  packages/sdk/test/mocks/logger.mock.ts
  packages/sdk/test/mocks/nats-connection.mock.ts
  packages/sdk/test/validation.spec.ts
Due: test-sdk

fix(deps): update all non-major dependencies
  .changeset/stupid-geese-hammer.md
  pnpm-lock.yaml
Due: audit

fix(sdk): fixed tests using mocked logger and added changeset
  .changeset/lucky-geckos-repeat.md
  packages/sdk/test/flow-logger.spec.ts
  packages/sdk/test/flow.spec.ts
Due: test-sdk
