Repository hahnprojects/flow: changes, and which GitLab CI jobs are due for each by the changed paths.
All: audit, test-cli, test-sdk, test-api

audit:
  image: node:lts
  stage: test
  before_script:
  - npm install -g pnpm
  - pnpm install
  script:
  - pnpm audit --prod

test-cli:
  image: node:lts
  stage: test
  before_script:
  - npm install -g pnpm
  - pnpm install
  script:
  - pnpm test packages/cli

test-sdk:
  image: node:lts
  stage: test
  before_script:
  - npm install -g pnpm
  - pnpm install
  script:
  - pnpm test packages/sdk -- --testPathIgnorePatterns rpc.spec.ts sidrive.spec.ts

test-api:
  image: node:lts
  stage: test
  before_script:
  - npm install -g pnpm
  - pnpm install
  script:
  - pnpm test packages/api -- --testPathIgnorePatterns api.spec.ts

chore(deps): update all non-major dependencies
  .github/actions/prepare-pnpm/action.yml
  examples/package.json
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

chore(deps): update all non-major dependencies
  .changeset/fresh-buttons-vanish.md
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/FlowLogger.ts
  packages/sdk/lib/amqp.ts
  pnpm-lock.yaml
Due: audit, test-sdk

chore(deps): update all non-major dependencies
  examples/package.json
  package.json
  packages/api/package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

chore(deps): update dependency @types/jest to v28
  examples/package.json
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

feat(api): added functions for interaction with asset-paperbin API
  packages/api/lib/asset.interface.ts
  packages/api/lib/asset.service.ts
  packages/api/lib/mock/asset.mock.service.ts
  packages/api/lib/mock/data.mock.service.ts
  packages/api/test/api.mock.spec.ts
  packages/api/test/api.spec.ts
Due: test-api

fix: added changeset
  .changeset/witty-suits-argue.md
Due: none

fix: fixed linting
  packages/api/lib/asset.service.ts
  packages/api/lib/mock/asset.mock.service.ts
  packages/api/test/api.mock.spec.ts
  packages/api/test/api.spec.ts
Due: test-api

feat(api): asset-paperbin API functions (#107)
  .changeset/witty-suits-argue.md
  packages/api/lib/asset.interface.ts
  packages/api/lib/asset.service.ts
  packages/api/lib/mock/asset.mock.service.ts
  packages/api/lib/mock/data.mock.service.ts
  packages/api/test/api.mock.spec.ts
  packages/api/test/api.spec.ts
Due: test-api

feat(sdk): publish flow lifecycle events to allow duration tracking
  .changeset/clean-maps-vanish.md
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/FlowElement.ts
  packages/sdk/lib/FlowEvent.ts
  packages/sdk/lib/RpcClient.ts
  packages/sdk/lib/flow.interface.ts
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-sdk

feat(sdk): publish flow lifecycle events to allow duration tracking (#109)
  .changeset/clean-maps-vanish.md
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/FlowElement.ts
  packages/sdk/lib/FlowEvent.ts
  packages/sdk/lib/RpcClient.ts
  packages/sdk/lib/flow.interface.ts
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-sdk

chore(deps): update all non-major dependencies
  examples/package.json
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

chore(deps): update actions/setup-python action to v4
  .github/workflows/test.yml
Due: none

feat(api): added label service to API
  .changeset/three-shrimps-fold.md
  packages/api/lib/api.ts
  packages/api/lib/index.ts
  packages/api/lib/label.interface.ts
  packages/api/lib/label.service.ts
  packages/api/lib/mock/api.mock.ts
  packages/api/lib/mock/label.mock.service.ts
  packages/api/test/api.mock.spec.ts
  packages/api/test/api.spec.ts
Due: test-api

fix: fixed linting
  packages/api/test/api.mock.spec.ts
Due: test-api

fix: made parameters optional
  packages/api/lib/label.interface.ts
Due: test-api

feat(api): added label service to API (#113)
  .changeset/three-shrimps-fold.md
  packages/api/lib/api.ts
  packages/api/lib/index.ts
  packages/api/lib/label.interface.ts
  packages/api/lib/label.service.ts
  packages/api/lib/mock/api.mock.ts
  packages/api/lib/mock/label.mock.service.ts
  packages/api/test/api.mock.spec.ts
  packages/api/test/api.spec.ts
Due: test-api

chore(deps): update all non-major dependencies
  pnpm-lock.yaml
Due: audit

feat(api): add createdAt and updatedAt attributes to Event interface
  .changeset/stupid-timers-pull.md
  packages/api/lib/events.interface.ts
  pnpm-lock.yaml
Due: audit, test-api

chore: refresh pnpm lock
  pnpm-lock.yaml
Due: audit

chore: change to patch release
  .changeset/stupid-timers-pull.md
Due: none

feat(api): add createdAt and updatedAt attributes to Event interface (#117)
  .changeset/stupid-timers-pull.md
  packages/api/lib/events.interface.ts
  pnpm-lock.yaml
Due: audit, test-api

refactor: add mixin to services(wip) -todo mocks&tests
  package-lock.json
  package.json
  packages/api/lib/asset.interface.ts
  packages/api/lib/asset.service.ts
  packages/api/lib/assettypes.service.ts
  packages/api/lib/content.interface.ts
  packages/api/lib/content.service.ts
  packages/api/lib/data.service.ts
  packages/api/lib/flow.interface.ts
  packages/api/lib/flow.service.ts
  packages/api/lib/mock/asset.mock.service.ts
  packages/api/lib/mock/trash.mock.service.ts
  packages/api/lib/secret.interface.ts
  packages/api/lib/secret.service.ts
  packages/api/lib/task.interface.ts
  packages/api/lib/task.service.ts
  packages/api/lib/timeseries.interface.ts
  packages/api/lib/timeseries.service.ts
  packages/api/lib/trash.service.ts
Due: audit, test-cli, test-sdk, test-api

fix: remove file that don't belongs here
  package-lock.json
Due: none

fix: mockServices use mixin, write trash-test (wip)
  packages/api/lib/asset.service.ts
  packages/api/lib/assettypes.service.ts
  packages/api/lib/content.service.ts
  packages/api/lib/data.service.ts
  packages/api/lib/flow.service.ts
  packages/api/lib/mock/asset.mock.service.ts
  packages/api/lib/mock/assetTypes.mock.service.ts
  packages/api/lib/mock/content.mock.service.ts
  packages/api/lib/mock/flow.mock.service.ts
  packages/api/lib/mock/secret.mock.service.ts
  packages/api/lib/mock/task.mock.service.ts
  packages/api/lib/mock/timeseries.mock.service.ts
  packages/api/lib/mock/trash.mock.service.ts
  packages/api/lib/resource.interface.ts
  packages/api/lib/secret.service.ts
  packages/api/lib/task.service.ts
  packages/api/lib/timeseries.service.ts
  packages/api/lib/trash.service.ts
  packages/api/test/api.mock.spec.ts
  packages/api/test/api.spec.ts
  packages/api/test/helper.ts
Due: test-api

test: fix tsm and flow test
  packages/api/MIXINS.md
  packages/api/lib/asset.service.ts
  packages/api/lib/content.service.ts
  packages/api/lib/data.service.ts
  packages/api/lib/flow.service.ts
  packages/api/lib/mock/asset.mock.service.ts
  packages/api/lib/mock/assetTypes.mock.service.ts
  packages/api/lib/mock/content.mock.service.ts
  packages/api/lib/mock/flow.mock.service.ts
  packages/api/lib/mock/secret.mock.service.ts
  packages/api/lib/mock/task.mock.service.ts
  packages/api/lib/mock/timeseries.mock.service.ts
  packages/api/lib/secret.service.ts
  packages/api/lib/task.service.ts
  packages/api/lib/timeseries.service.ts
  packages/api/test/api.mock.spec.ts
  packages/api/test/helper.ts
Due: test-api

chore: update pnpm file
  pnpm-lock.yaml
Due: audit

fix: translate the mixin doc
  packages/api/MIXINS.md
Due: test-api

test: add testTrash to other components (wip)
  packages/api/test/api.spec.ts
Due: test-api

chore: run format
  packages/api/lib/assettypes.service.ts
  packages/api/lib/content.service.ts
  packages/api/lib/flow.service.ts
  packages/api/lib/mock/asset.mock.service.ts
  packages/api/lib/mock/flow.mock.service.ts
  packages/api/test/helper.ts
Due: test-api

fix: according to comments in pr
  package.json
  packages/api/package.json
  packages/api/test/api.spec.ts
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

fix: fixed linting
  packages/api/lib/mock/flow-deployment.mock.service.ts
  packages/api/lib/user-settings.interface.ts
  packages/api/lib/user.service.ts
  packages/cli/lib/auth.mjs
  packages/cli/lib/cli.mjs
  packages/sdk/lib/rpc_server.py
  packages/sdk/test/input-stream.decorator.spec.ts
Due: test-cli, test-sdk, test-api

fix: fixed exchange declaration
  packages/sdk/lib/rpc_server.py
Due: test-sdk

chore: debug CI
  packages/sdk/lib/rpc_server.py
  packages/sdk/test/rpc.spec.ts
Due: test-sdk

fix: fixed rpc
  packages/sdk/lib/rpc_server.py
  packages/sdk/test/rpc.spec.ts
Due: test-sdk

fix: reduce code smells
  packages/api/lib/asset.service.ts
  packages/api/lib/assettypes.service.ts
  packages/api/lib/content.service.ts
  packages/api/lib/data.service.ts
  packages/api/lib/flow.service.ts
  packages/api/lib/mock/asset.mock.service.ts
  packages/api/lib/mock/flow.mock.service.ts
  packages/api/lib/mock/trash.mock.service.ts
  packages/api/lib/secret.service.ts
  packages/api/lib/task.service.ts
  packages/api/lib/timeseries.service.ts
  packages/api/test/api.mock.spec.ts
Due: test-api

chore: add changeset
  .changeset/tender-waves-sneeze.md
  packages/api/MIXINS.md
Due: test-api

refactor: remove init methods
  packages/api/lib/api-base.ts
  packages/api/lib/asset.service.ts
  packages/api/lib/assettypes.service.ts
  packages/api/lib/content.service.ts
  packages/api/lib/data.service.ts
  packages/api/lib/flow-deployment.service.ts
  packages/api/lib/flow.service.ts
  packages/api/lib/mock/api-base.mock.ts
  packages/api/lib/mock/asset.mock.service.ts
  packages/api/lib/mock/assetTypes.mock.service.ts
  packages/api/lib/mock/content.mock.service.ts
  packages/api/lib/mock/data.mock.service.ts
  packages/api/lib/mock/flow-deployment.mock.service.ts
  packages/api/lib/mock/flow-functions.mock.service.ts
  packages/api/lib/mock/flow.mock.service.ts
  packages/api/lib/mock/secret.mock.service.ts
  packages/api/lib/mock/task.mock.service.ts
  packages/api/lib/mock/timeseries.mock.service.ts
  packages/api/lib/mock/trash.mock.service.ts
  packages/api/lib/secret.service.ts
  packages/api/lib/task.service.ts
  packages/api/lib/timeseries.service.ts
  packages/api/lib/trash.service.ts
Due: test-api

feat(api): add api methods for trash endpoints (#122)
  .changeset/tender-waves-sneeze.md
  packages/api/MIXINS.md
  packages/api/lib/api-base.ts
  packages/api/lib/asset.interface.ts
  packages/api/lib/asset.service.ts
  packages/api/lib/assettypes.service.ts
  packages/api/lib/content.interface.ts
  packages/api/lib/content.service.ts
  packages/api/lib/data.service.ts
  packages/api/lib/flow-deployment.service.ts
  packages/api/lib/flow.interface.ts
  packages/api/lib/flow.service.ts
  packages/api/lib/mock/api-base.mock.ts
  packages/api/lib/mock/asset.mock.service.ts
  packages/api/lib/mock/assetTypes.mock.service.ts
  packages/api/lib/mock/content.mock.service.ts
  packages/api/lib/mock/data.mock.service.ts
  packages/api/lib/mock/flow-deployment.mock.service.ts
  packages/api/lib/mock/flow-functions.mock.service.ts
  packages/api/lib/mock/flow.mock.service.ts
  packages/api/lib/mock/secret.mock.service.ts
  packages/api/lib/mock/task.mock.service.ts
  packages/api/lib/mock/timeseries.mock.service.ts
  packages/api/lib/mock/trash.mock.service.ts
  packages/api/lib/resource.interface.ts
  packages/api/lib/secret.interface.ts
  packages/api/lib/secret.service.ts
  packages/api/lib/task.interface.ts
  packages/api/lib/task.service.ts
  packages/api/lib/timeseries.interface.ts
  packages/api/lib/timeseries.service.ts
  packages/api/lib/trash.service.ts
  packages/api/package.json
  packages/api/test/api.mock.spec.ts
  packages/api/test/api.spec.ts
  packages/api/test/helper.ts
  pnpm-lock.yaml
Due: audit, test-api

refactor: remove mixed class contructor and rename class
  packages/api/MIXINS.md
  packages/api/lib/asset.service.ts
  packages/api/lib/assettypes.service.ts
  packages/api/lib/content.service.ts
  packages/api/lib/data.service.ts
  packages/api/lib/flow-deployment.service.ts
  packages/api/lib/flow.service.ts
  packages/api/lib/mock/asset.mock.service.ts
  packages/api/lib/mock/assetTypes.mock.service.ts
  packages/api/lib/mock/content.mock.service.ts
  packages/api/lib/mock/flow-deployment.mock.service.ts
  packages/api/lib/mock/flow.mock.service.ts
  packages/api/lib/mock/secret.mock.service.ts
  packages/api/lib/mock/task.mock.service.ts
  packages/api/lib/mock/timeseries.mock.service.ts
  packages/api/lib/secret.service.ts
  packages/api/lib/task.service.ts
  packages/api/lib/timeseries.service.ts
  packages/api/lib/trash.service.ts
Due: test-api

Path conditions:
  audit: any of: package.json, pnpm-lock.yaml, packages/sdk/**/package.json
  test-cli: any of: packages/cli/**/*, package.json
  test-sdk: any of: packages/sdk/**/*, package.json
  test-api: any of: packages/api/**/*, package.json
