Repository hahnprojects/flow: changes, and which GitLab CI jobs are due for each by the changed paths.
All: audit, test-cli, test-sdk, test-api

.gitlab/.gitlab-ci.yml:

stages:
  - test

commit-messages:
  stage: test
  image: outillage/commitsar:0.16.0
  script:
    - commitsar
  rules:
    - if: $CI_MERGE_REQUEST_ID
      allow_failure: true

.pnpm:
  image: node:lts
  stage: test
  before_script:
    - npm install -g pnpm
    - pnpm install
    # - pnpm -r prepublishOnly

audit:
  extends: .pnpm
  script:
    - pnpm audit --prod
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - package.json
        - pnpm-lock.yaml
        - packages/sdk/**/package.json
      allow_failure: true

lint:
  extends: .pnpm
  script:
    - pnpm lint
  rules:
    - if: $CI_MERGE_REQUEST_ID

test-cli:
  extends: .pnpm
  script:
    - pnpm test packages/cli
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - packages/cli/**/*
        - package.json

test-sdk:
  extends: .pnpm
  script:
    - pnpm test packages/sdk -- --testPathIgnorePatterns rpc.spec.ts sidrive.spec.ts
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - packages/sdk/**/*
        - package.json

test-api:
  extends: .pnpm
  stage: test
  script:
    - pnpm test packages/api -- --testPathIgnorePatterns api.spec.ts
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - packages/api/**/*
        - package.json

chore: added changeset
  .changeset/sour-carpets-train.md
Due: none

chore: fix sdk build
  tsconfig.json
Due: none

chore: fix sdk build
  packages/sdk/tsconfig.lib.json
  tsconfig.json
Due: test-sdk

chore: fix build target
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/nats.ts
  packages/sdk/test/flow.spec.ts
  tsconfig.json
Due: test-sdk

chore(dep): migrate to new nats packages (#412)
  .changeset/sour-carpets-train.md
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/nats.ts
  packages/sdk/package.json
  packages/sdk/test/flow.spec.ts
  packages/sdk/tsconfig.lib.json
  pnpm-lock.yaml
  tsconfig.json
Due: audit, test-sdk

feat(api): api can now use provided tokens to authenticate
  packages/api/lib/http.service.ts
  packages/api/lib/token-set.ts
  packages/api/test/http.service.spec.ts
Due: test-api

chore: added changeset
  .changeset/spotty-birds-wave.md
Due: none

feat(sdk): tokens can now be provided in the actual api-call
  packages/api/lib/http.service.ts
  packages/api/test/http.service.spec.ts
Due: test-api

fix: fixed broken mock
  packages/api/test/http.service.spec.ts
Due: test-api

fix: save discovered issuers
  packages/api/lib/http.service.ts
Due: test-api

feat: added options to all calls
  packages/api/lib/asset.service.ts
  packages/api/lib/assettypes.service.ts
  packages/api/lib/content.service.ts
  packages/api/lib/data.interface.ts
  packages/api/lib/data.service.ts
  packages/api/lib/endpoint.service.ts
  packages/api/lib/events.service.ts
  packages/api/lib/flow-deployment.service.ts
  packages/api/lib/flow-function.service.ts
  packages/api/lib/flow-module.service.ts
  packages/api/lib/flow.service.ts
  packages/api/lib/http.service.ts
  packages/api/lib/label.service.ts
  packages/api/lib/proxy.service.ts
  packages/api/lib/task.service.ts
  packages/api/lib/timeseries.service.ts
  packages/api/lib/user.service.ts
  packages/api/lib/vault.service.ts
Due: test-api

fix: updated changeset
  .changeset/spotty-birds-wave.md
  packages/api/lib/asset.service.ts
  packages/api/lib/data.service.ts
  packages/api/lib/flow-deployment.service.ts
  packages/api/lib/flow-module.service.ts
Due: test-api

fix: fixed lint
  packages/api/lib/asset.service.ts
  packages/api/lib/flow-module.service.ts
Due: test-api

feat(api): provid token support (#414)
  .changeset/spotty-birds-wave.md
  packages/api/lib/asset.service.ts
  packages/api/lib/assettypes.service.ts
  packages/api/lib/content.service.ts
  packages/api/lib/data.interface.ts
  packages/api/lib/data.service.ts
  packages/api/lib/endpoint.service.ts
  packages/api/lib/events.service.ts
  packages/api/lib/flow-deployment.service.ts
  packages/api/lib/flow-function.service.ts
  packages/api/lib/flow-module.service.ts
  packages/api/lib/flow.service.ts
  packages/api/lib/http.service.ts
  packages/api/lib/label.service.ts
  packages/api/lib/proxy.service.ts
  packages/api/lib/task.service.ts
  packages/api/lib/timeseries.service.ts
  packages/api/lib/token-set.ts
  packages/api/lib/user.service.ts
  packages/api/lib/vault.service.ts
  packages/api/test/http.service.spec.ts
Due: test-api

chore: trigger release
  .changeset/great-loops-show.md
Due: none

fix(deps): update all non-major dependencies
  .changeset/nice-times-occur.md
  pnpm-lock.yaml
Due: audit

chore: fix(deps): update all non-major dependencies
  .changeset/great-mirrors-search.md
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-sdk

feat(sdk): replacing rabbitmq with nats
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/nats.ts
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-sdk

feat(sdk): new changeset für nats
  .changeset/clean-states-arrive.md
Due: none

feat(sdk): updated pnpm lock
  pnpm-lock.yaml
Due: audit

Update packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/FlowApplication.ts
Due: test-sdk

feat(flow-application): sending most events over nats
  .changeset/busy-dragons-repeat.md
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/nats.ts
  packages/sdk/package.json
Due: audit, test-sdk

fix(flow-application): fixed wrong connection check
  packages/sdk/lib/FlowApplication.ts
Due: test-sdk

fix(flow-application): merge error
  packages/sdk/lib/FlowApplication.ts
Due: test-sdk

feat(flow-application): sending deployment.${deploymentId} events over nats}
  .changeset/busy-dragons-repeat.md
  .github/renovate.json
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/nats.ts
Due: test-sdk

fix(lock-file): updated lock file
  pnpm-lock.yaml
Due: audit

fix(nats): added error catching at nats publish
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/nats.ts
Due: test-sdk

chore: changeset
  .changeset/dull-papers-pump.md
  pnpm-lock.yaml
Due: audit

fix: removed configurability for login client id
  packages/cli/lib/auth.mjs
Due: test-cli

chore: added changeset
  .changeset/violet-owls-smoke.md
Due: none

fix: fixed login
  packages/cli/lib/auth.mjs
Due: test-cli

fix(cli): remove configurable login client id (#444)
  .changeset/violet-owls-smoke.md
  packages/cli/lib/auth.mjs
Due: test-cli

fix(sdk): improve logging of axios error
  .changeset/busy-pumas-admire.md
  packages/sdk/lib/utils.ts
Due: test-sdk

fix(sdk): improve logging of axios error (#449)
  .changeset/busy-pumas-admire.md
  packages/sdk/lib/utils.ts
Due: test-sdk

feat(nats): update package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-sdk

feat(nats): redo
  examples/modules/example/src/flow.spec.ts
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/FlowElement.ts
  packages/sdk/lib/nats.ts
  packages/sdk/package.json
  packages/sdk/test/flow.spec.ts
  packages/sdk/test/input-stream.decorator.spec.ts
  pnpm-lock.yaml
Due: audit, test-sdk

feat(nats): update tests
  packages/sdk/test/context-manager-purpose.spec.ts
  packages/sdk/test/context.spec.ts
  packages/sdk/test/input-stream.decorator.spec.ts
Due: test-sdk
