Repository hahnprojects/flow: changes, and which GitLab CI jobs are due for each by the changed paths.
All: audit, test-cli, test-sdk, test-api

.gitlab/.gitlab-ci.yml:

stages:
  - test

commit-messages:
  stage: test
  image: outillage/commitsar:0.16.0
  script:
    - commitsar
  rules:
    - if: $CI_MERGE_REQUEST_ID
      allow_failure: true

.pnpm:
  image: node:lts
  stage: test
  before_script:
    - npm install -g pnpm
    - pnpm install
    # - pnpm -r prepublishOnly

audit:
  extends: .pnpm
  script:
    - pnpm audit --prod
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - package.json
        - pnpm-lock.yaml
        - packages/sdk/**/package.json
      allow_failure: true

lint:
  extends: .pnpm
  script:
    - pnpm lint
  rules:
    - if: $CI_MERGE_REQUEST_ID

test-cli:
  extends: .pnpm
  script:
    - pnpm test packages/cli
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - packages/cli/**/*
        - package.json

test-sdk:
  extends: .pnpm
  script:
    - pnpm test packages/sdk -- --testPathIgnorePatterns rpc.spec.ts sidrive.spec.ts
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - packages/sdk/**/*
        - package.json

test-api:
  extends: .pnpm
  stage: test
  script:
    - pnpm test packages/api -- --testPathIgnorePatterns api.spec.ts
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - packages/api/**/*
        - package.json

fix(sdk): allow unknown values for property validation
  .changeset/seven-ears-learn.md
  packages/sdk/lib/FlowElement.ts
Due: test-sdk

fix(sdk): allow unknown values for property validation (#188)
  .changeset/seven-ears-learn.md
  packages/sdk/lib/FlowElement.ts
Due: test-sdk

chore(deps): update all non-major dependencies
  .changeset/cool-grapes-sin.md
  .github/actions/prepare-pnpm/action.yml
  .github/renovate.json
  examples/jest.config.js
  jest.config.js
  packages/api/lib/http.service.ts
  packages/api/package.json
  packages/cli/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-api

chore: fix vulnerability
  .github/actions/prepare-pnpm/action.yml
  package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

chore: trigger new patch version to fix vulnerability
  .changeset/chilled-cups-study.md
Due: none

fix: addition of timeseries values in mock api
  .changeset/gold-socks-reflect.md
  packages/api/lib/mock/timeseries.mock.service.ts
  packages/api/lib/timeseries.service.ts
  pnpm-lock.yaml
Due: audit, test-api

fix: addition of timeseries values in mock api (#197)
  .changeset/gold-socks-reflect.md
  packages/api/lib/mock/timeseries.mock.service.ts
  packages/api/lib/timeseries.service.ts
  pnpm-lock.yaml
Due: audit, test-api

chore(deps): update all non-major dependencies
  packages/api/package.json
  packages/cli/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-api

chore(deps): update all non-major dependencies
  packages/api/package.json
  pnpm-lock.yaml
Due: audit, test-api

chore(deps): update all non-major dependencies
  .github/renovate.json
  packages/api/package.json
  pnpm-lock.yaml
Due: audit, test-api

chore(deps): update all non-major dependencies
  .changeset/selfish-seahorses-divide.md
  examples/package.json
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

feat(api): add asset attachment function
  .changeset/dry-needles-float.md
  packages/api/lib/asset.interface.ts
  packages/api/lib/asset.service.ts
  packages/api/lib/mock/asset.mock.service.ts
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-sdk, test-api

chore: migrate glob
  packages/cli/lib/cli.mjs
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk

fix(api): auth token expiration check
  .changeset/shiny-ducks-count.md
  packages/api/lib/http.service.ts
  packages/api/lib/token-set.ts
  packages/api/test/http.service.spec.ts
Due: test-api

fix(api): auth token expiration check (#214)
  .changeset/shiny-ducks-count.md
  packages/api/lib/http.service.ts
  packages/api/lib/token-set.ts
  packages/api/test/http.service.spec.ts
Due: test-api

chore(deps): update all non-major dependencies
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-sdk

test: bug reproduction
  packages/sdk/test/rpc.spec.ts
Due: test-sdk

fix: removed unneeded lazy initialization of RpcClient
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/FlowElement.ts
  packages/sdk/test/input-stream.decorator.spec.ts
  packages/sdk/test/rpc.spec.ts
Due: test-sdk

chore: added changeset
  .changeset/forty-flies-decide.md
Due: none

fix: fixed uncaught Promise bug
  packages/sdk/lib/FlowElement.ts
Due: test-sdk

chore(ci): run flow-sdk rpc tests in pipeline
  .github/workflows/test.yml
  examples/modules/python/README.md
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/test/flow.spec.ts
  packages/sdk/test/long-running-rpc.spec.ts
  packages/sdk/test/rpc.spec.ts
  packages/sdk/test/validation.spec.ts
Due: test-sdk

fix: fixed review comments
  .changeset/forty-flies-decide.md
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/FlowElement.ts
  packages/sdk/lib/RpcClient.ts
Due: test-sdk

fix: fixed test
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/FlowElement.ts
  packages/sdk/lib/RpcClient.ts
  packages/sdk/test/rpc.spec.ts
Due: test-sdk

fix: fixed test
  packages/sdk/test/flow.spec.ts
Due: test-sdk

fix(sdk): fixed broken lazy initilaization of RpcClient (#218)
  .changeset/forty-flies-decide.md
  .github/workflows/test.yml
  examples/modules/python/README.md
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/FlowElement.ts
  packages/sdk/lib/RpcClient.ts
  packages/sdk/test/flow.spec.ts
  packages/sdk/test/input-stream.decorator.spec.ts
  packages/sdk/test/long-running-rpc.spec.ts
  packages/sdk/test/rpc.spec.ts
  packages/sdk/test/validation.spec.ts
Due: test-sdk

chore: downgrade object-sizeof
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-sdk

feat(sdk): limit rpc msg size
  .changeset/eight-chairs-obey.md
  README.md
  doc/testing.md
  examples/modules/python/src/python.spec.ts
  examples/package.json
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/FlowElement.ts
  packages/sdk/lib/RpcClient.ts
  packages/sdk/lib/amqp.ts
  packages/sdk/lib/rpc_server.py
  packages/sdk/package.json
  packages/sdk/test/context.spec.ts
  packages/sdk/test/flow.spec.ts
  packages/sdk/test/input-stream.decorator.spec.ts
  packages/sdk/test/long-running-rpc.spec.ts
  packages/sdk/test/message.spec.ts
  packages/sdk/test/rpc.spec.ts
  packages/sdk/test/rx.spec.ts
  pnpm-lock.yaml
Due: audit, test-sdk

feat(sdk): limit rpc msg size (#220)
  .changeset/eight-chairs-obey.md
  README.md
  doc/testing.md
  examples/modules/python/src/python.spec.ts
  examples/package.json
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/FlowElement.ts
  packages/sdk/lib/RpcClient.ts
  packages/sdk/lib/amqp.ts
  packages/sdk/lib/rpc_server.py
  packages/sdk/package.json
  packages/sdk/test/context.spec.ts
  packages/sdk/test/flow.spec.ts
  packages/sdk/test/input-stream.decorator.spec.ts
  packages/sdk/test/long-running-rpc.spec.ts
  packages/sdk/test/message.spec.ts
  packages/sdk/test/rpc.spec.ts
  packages/sdk/test/rx.spec.ts
  pnpm-lock.yaml
Due: audit, test-sdk

chore: remove nestjs dependency
  examples/package.json
  pnpm-lock.yaml
Due: audit

fix(sdk): parse incoming amqp messages
  .changeset/funny-cycles-behave.md
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/amqp.ts
  packages/sdk/test/context.spec.ts
  packages/sdk/test/message.spec.ts
Due: test-sdk

fix(sdk): parse incoming amqp messages (#223)
  .changeset/funny-cycles-behave.md
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/amqp.ts
  packages/sdk/test/context.spec.ts
  packages/sdk/test/message.spec.ts
Due: test-sdk

chore(deps): update all non-major dependencies
  .github/actions/prepare-pnpm/action.yml
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-sdk

feat: add notifications in api
  packages/api/lib/api.ts
  packages/api/lib/index.ts
  packages/api/lib/mock/api.mock.ts
  packages/api/lib/mock/index.ts
  packages/api/lib/mock/notification.mock.service.ts
  packages/api/lib/notification.interface.ts
  packages/api/lib/notification.service.ts
  packages/api/test/api.mock.spec.ts
  packages/api/test/api.spec.ts
Due: test-api

chore: add changeset
  .changeset/eight-news-repeat.md
Due: none

feat: add notifications in api (#230)
  .changeset/eight-news-repeat.md
  packages/api/lib/api.ts
  packages/api/lib/index.ts
  packages/api/lib/mock/api.mock.ts
  packages/api/lib/mock/index.ts
  packages/api/lib/mock/notification.mock.service.ts
  packages/api/lib/notification.interface.ts
  packages/api/lib/notification.service.ts
  packages/api/test/api.mock.spec.ts
  packages/api/test/api.spec.ts
Due: test-api

chore(deps): update all non-major dependencies
  .changeset/eight-news-repeat.md
  .changeset/gold-news-reflect.md
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-sdk

chore(deps): update all non-major dependencies
  .github/renovate.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-sdk

chore(deps): update all non-major dependencies
  pnpm-lock.yaml
Due: audit

chore: fix lockfile
  .github/renovate.json
  packages/api/package.json
  pnpm-lock.yaml
Due: audit, test-api
