Repository hahnprojects/flow: changes, and which GitLab CI jobs are due for each by the changed paths.
All: audit, test-cli, test-sdk, test-api

audit:
  image: node:lts
  stage: test
  before_script:
  - npm install -g pnpm
  - pnpm install
  script:
  - pnpm audit --prod

test-cli:
  image: node:lts
  stage: test
  before_script:
  - npm install -g pnpm
  - pnpm install
  script:
  - pnpm test packages/cli

test-sdk:
  image: node:lts
  stage: test
  before_script:
  - npm install -g pnpm
  - pnpm install
  script:
  - pnpm test packages/sdk -- --testPathIgnorePatterns rpc.spec.ts sidrive.spec.ts

test-api:
  image: node:lts
  stage: test
  before_script:
  - npm install -g pnpm
  - pnpm install
  script:
  - pnpm test packages/api -- --testPathIgnorePatterns api.spec.ts

chore(deps): update dependency eslint-plugin-unicorn to v42
  packages/cli/package.json
  pnpm-lock.yaml
Due: audit, test-cli

feat(api): added function to flow-service to get flow revisions
  .changeset/great-hats-smash.md
  packages/api/lib/flow.service.ts
  packages/api/lib/mock/flow.mock.service.ts
  packages/api/test/api.spec.ts
Due: test-api

fix(api): removed node only function
  packages/api/lib/flow-module.service.ts
Due: test-api

fix(api): removed download function as there is no way to download that works in node and in browsers
  packages/api/lib/flow-module.service.ts
  packages/api/lib/mock/flow-modules.mock.service.ts
  packages/api/test/api.mock.spec.ts
  packages/api/test/api.spec.ts
Due: test-api

feat(api): added function to flow-service to get flow revisions (#79)
  .changeset/great-hats-smash.md
  packages/api/lib/flow-module.service.ts
  packages/api/lib/flow.service.ts
  packages/api/lib/mock/flow-modules.mock.service.ts
  packages/api/lib/mock/flow.mock.service.ts
  packages/api/test/api.mock.spec.ts
  packages/api/test/api.spec.ts
Due: test-api

fix(deps): update dependency glob to v8
  packages/cli/package.json
  pnpm-lock.yaml
Due: audit, test-cli

chore(deps): update all non-major dependencies
  .github/workflows/validate-pr.yml
  examples/package.json
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

chore(deps): update all non-major dependencies (#81)
  .changeset/spotty-masks-build.md
  .github/workflows/validate-pr.yml
  examples/package.json
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

fix(cli): add proxy support for openid-client requests
  .changeset/odd-dolphins-exist.md
  .github/workflows/test.yml
  packages/cli/lib/auth.mjs
  packages/cli/lib/cli.mjs
  packages/cli/lib/utils.mjs
Due: test-cli

fix(cli): add proxy support for openid-client requests (#84)
  .changeset/odd-dolphins-exist.md
  .github/workflows/test.yml
  packages/cli/lib/auth.mjs
  packages/cli/lib/cli.mjs
  packages/cli/lib/utils.mjs
Due: test-cli

chore(deps): update dependency jest to v28
  examples/package.json
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

chore(deps): update github/codeql-action action to v2
  .github/workflows/codeql-analysis.yml
Due: none

chore(deps): update all non-major dependencies
  .github/workflows/validate-pr.yml
  examples/package.json
  package.json
  packages/api/package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

chore: downgrade axios
  packages/api/package.json
  packages/cli/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-api

fix(api): changed from getDate to valueOf()
  packages/api/lib/mock/timeseries.mock.service.ts
Due: test-api

fix: added changeset
  .changeset/modern-cameras-buy.md
Due: none

fix(api): changed from getDate to valueOf() (#89)
  .changeset/modern-cameras-buy.md
  packages/api/lib/mock/timeseries.mock.service.ts
Due: test-api

chore(deps): update all non-major dependencies
  examples/package.json
  package.json
  packages/api/package.json
  packages/cli/package.json
  packages/sdk/package.json
Due: audit, test-cli, test-sdk, test-api

chore(deps): update all non-major dependencies
  .github/actions/prepare-pnpm/action.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/validate.yml
  package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

fix(sdk): allow module names to contain scopes, disallow spec. chars
  .changeset/shiny-chairs-relate.md
  packages/sdk/lib/FlowModule.ts
  packages/sdk/test/context.spec.ts
  packages/sdk/test/flow.spec.ts
  packages/sdk/test/input-stream.decorator.spec.ts
  packages/sdk/test/long-running-rpc.spec.ts
  packages/sdk/test/message.spec.ts
  packages/sdk/test/rpc.spec.ts
  packages/sdk/test/rx.spec.ts
Due: test-sdk

fix(sdk): allow module names to contain scopes, disallow spec. chars (#94)
  .changeset/shiny-chairs-relate.md
  packages/sdk/lib/FlowModule.ts
  packages/sdk/test/context.spec.ts
  packages/sdk/test/flow.spec.ts
  packages/sdk/test/input-stream.decorator.spec.ts
  packages/sdk/test/long-running-rpc.spec.ts
  packages/sdk/test/message.spec.ts
  packages/sdk/test/rpc.spec.ts
  packages/sdk/test/rx.spec.ts
Due: test-sdk

chore(deps): update jest monorepo
  examples/package.json
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

fix(cli): fixed test config
  packages/cli/jest.config.cjs
Due: test-cli

fix(cli): fixed content mock api tests
  packages/api/lib/content.service.ts
  packages/api/lib/mock/content.mock.service.ts
  packages/api/test/api.mock.spec.ts
Due: test-api

chore(deps): update all non-major dependencies
  examples/package.json
  package.json
  packages/api/package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

feat: add revision functionality for AM and FS
  packages/api/lib/asset.interface.ts
  packages/api/lib/asset.service.ts
  packages/api/lib/assettypes.service.ts
  packages/api/lib/flow-deployment.interface.ts
  packages/api/lib/flow-function.interface.ts
  packages/api/lib/flow-function.service.ts
  packages/api/lib/flow.interface.ts
  packages/api/lib/flow.service.ts
  packages/api/lib/mock/api.mock.ts
  packages/api/lib/mock/asset.mock.service.ts
  packages/api/lib/mock/assetTypes.mock.service.ts
  packages/api/lib/mock/flow-functions.mock.service.ts
  packages/api/lib/mock/flow.mock.service.ts
  packages/api/lib/resource.interface.ts
  packages/api/test/api.mock.spec.ts
  packages/api/test/api.spec.ts
Due: test-api

fix: interface names of flows and flow functions in
  packages/api/lib/flow-deployment.interface.ts
  packages/api/lib/flow-function.interface.ts
  packages/api/lib/flow-function.service.ts
  packages/api/lib/flow.interface.ts
  packages/api/lib/flow.service.ts
  packages/api/lib/mock/api.mock.ts
  packages/api/lib/mock/flow-functions.mock.service.ts
  packages/api/lib/mock/flow.mock.service.ts
Due: test-api

chore: add changeset
  .changeset/new-cups-act.md
  packages/api/lib/asset.service.ts
  packages/api/lib/flow.service.ts
  packages/api/lib/mock/asset.mock.service.ts
Due: test-api

chore: changeset & remove redundances
  .changeset/new-cups-act.md
  packages/api/lib/mock/api.mock.ts
Due: test-api

chore(deps): update all non-major dependencies
  examples/package.json
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

feat: add revision functionality for AM and FS (#97)
  .changeset/new-cups-act.md
  packages/api/lib/asset.interface.ts
  packages/api/lib/asset.service.ts
  packages/api/lib/assettypes.service.ts
  packages/api/lib/flow-function.interface.ts
  packages/api/lib/flow-function.service.ts
  packages/api/lib/flow.interface.ts
  packages/api/lib/flow.service.ts
  packages/api/lib/mock/api.mock.ts
  packages/api/lib/mock/asset.mock.service.ts
  packages/api/lib/mock/assetTypes.mock.service.ts
  packages/api/lib/mock/flow-functions.mock.service.ts
  packages/api/lib/mock/flow.mock.service.ts
  packages/api/lib/resource.interface.ts
  packages/api/test/api.mock.spec.ts
  packages/api/test/api.spec.ts
Due: test-api

fix(cli): changed behavior when options are missing
  packages/cli/lib/auth.mjs
  packages/cli/lib/cli.mjs
Due: test-cli

fix(cli): fixed to large zip file error
  .changeset/fifty-adults-kiss.md
  packages/cli/lib/cli.mjs
Due: test-cli

fix(cli): fixed linting
  packages/cli/lib/cli.mjs
Due: test-cli

fix(cli): fixed errors when required options are missing (#100)
  .changeset/fifty-adults-kiss.md
  packages/cli/lib/auth.mjs
  packages/cli/lib/cli.mjs
Due: test-cli

Update CHANGELOG.md
  packages/cli/CHANGELOG.md
Due: test-cli

chore: specify changes to hpc-api version 3.0.0 in changelog
  packages/api/CHANGELOG.md
Due: test-api

chore: add breaking keywords to changelog of hpc-api
  packages/api/CHANGELOG.md
Due: test-api

chore: specify changes to hpc-api version 3.0.0 in changelog (#102)
  packages/api/CHANGELOG.md
Due: test-api

Path conditions:
  audit: any of: package.json, pnpm-lock.yaml, packages/sdk/**/package.json
  test-cli: any of: packages/cli/**/*, package.json
  test-sdk: any of: packages/sdk/**/*, package.json
  test-api: any of: packages/api/**/*, package.json
