Repository hahnprojects/flow: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-cli, test-sdk

test-cli:
  image: node:14
  before_script:
  - npm install -g pnpm
  - pnpm install
  stage: test
  script:
  - pnpm test packages/cli

test-sdk:
  image: node:14
  before_script:
  - npm install -g pnpm
  - pnpm install
  stage: test
  script:
  - pnpm test packages/sdk -- --testPathIgnorePatterns api.spec.ts http.service.spec.ts rpc.spec.ts sidrive.spec.ts

chore(deps): update all non-major dependencies
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: test-cli, test-sdk

refactor: moved for-each bug test from hpc to here
  packages/sdk/test/for-each.bug.spec.ts
Due: test-sdk

fix: added forceExit flag
  package.json
Due: test-cli, test-sdk

chore(deps): update dependency jest to ^27.1.1
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: test-cli, test-sdk

fix(deps): update all non-major dependencies
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: test-cli, test-sdk

chore(deps): update dependency jest to ^27.2.0
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: test-cli, test-sdk

chore(deps): update linters to ^4.31.1
  package.json
  pnpm-lock.yaml
Due: test-cli, test-sdk

feat: added loop-interruption
  packages/sdk/lib/FlowElement.ts
Due: test-sdk

fix: fixed tests
  packages/sdk/test/api.spec.ts
  packages/sdk/test/input-stream.decorator.spec.ts
Due: test-sdk

fix: fixed test
  packages/sdk/test/context.spec.ts
Due: test-sdk

fix: changed deployment notification to be a debug message
  packages/sdk/lib/FlowApplication.ts
Due: test-sdk

test: add amqp connection performance test
  packages/sdk/test/amqp-perf.spec.ts
  packages/sdk/test/fixtures/large-json.json
Due: test-sdk

fix: improve error handling for http service
  .changeset/chatty-ears-cough.md
  .gitlab/.gitlab-ci.yml
  examples/package.json
  package.json
  packages/cli/package.json
  packages/sdk/lib/api/Queue.ts
  packages/sdk/lib/api/http.service.ts
  packages/sdk/package.json
  packages/sdk/test/http.service.spec.ts
  pnpm-lock.yaml
Due: test-cli, test-sdk

chore(deps): update all non-major dependencies
  examples/package.json
  package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/lib/api/mock/data.mock.service.ts
  packages/sdk/lib/api/proxy.service.ts
  packages/sdk/package.json
  pnpm-lock.yaml
Due: test-cli, test-sdk

feat: handle uncaught exceptions & measure event loop utilization
  .changeset/cuddly-taxis-pretend.md
  .changeset/ninety-dolphins-wash.md
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/amqp.ts
  packages/sdk/test/flow.spec.ts
  packages/sdk/test/input-stream.decorator.spec.ts
  packages/sdk/test/logger.mock.ts
Due: test-sdk

release: flow-sdk v4.15.0
  .changeset/chatty-ears-cough.md
  .changeset/cuddly-taxis-pretend.md
  .changeset/ninety-dolphins-wash.md
  examples/CHANGELOG.md
  examples/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: test-sdk

chore(deps): update dependency jest to ^27.2.4
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: test-cli, test-sdk

chore(deps): update linters to ^4.32.0
  package.json
  pnpm-lock.yaml
Due: test-cli, test-sdk

chore(deps): update all non-major dependencies
  package.json
  packages/cli/package.json
  packages/sdk/lib/api/http.service.ts
  packages/sdk/package.json
  pnpm-lock.yaml
Due: test-cli, test-sdk

feat: collect metrics for event stream queues
  .changeset/purple-days-smell.md
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/test/flow.spec.ts
Due: test-sdk

release: flow-sdk v4.15.0
  .changeset/purple-days-smell.md
  examples/CHANGELOG.md
  examples/package.json
  package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  pnpm-lock.yaml
Due: test-cli, test-sdk

feat: add assetlink to endpoint api
  packages/sdk/lib/api/endpoint.interface.ts
  packages/sdk/lib/api/endpoint.service.ts
  packages/sdk/lib/api/mock/api.mock.ts
  packages/sdk/lib/api/mock/endpoint.mock.service.ts
  packages/sdk/test/api.mock.spec.ts
Due: test-sdk

release: flow-sdk v4.16.0
  examples/package.json
  package.json
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  pnpm-lock.yaml
Due: test-cli, test-sdk

chore(deps): update dependency jest to ^27.2.5
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: test-cli, test-sdk

fix(deps): update dependency python-shell to ^3.0.1
  packages/sdk/package.json
  pnpm-lock.yaml
Due: test-sdk

fix(deps): update dependency cloudevents to v5
  packages/sdk/package.json
  pnpm-lock.yaml
Due: test-sdk

release: flow-sdk v4.18.0, hpc-api v1.0.0
  .changeset/perfect-dolphins-know.md
  .gitlab/.gitlab-ci.yml
  examples/CHANGELOG.md
  examples/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/package.json
  pnpm-lock.yaml
Due: test-sdk

fix(api): add timeout for http request queue operations
  .changeset/warm-carrots-tease.md
  .gitlab/.gitlab-ci.yml
  examples/package.json
  jest.config.js
  package.json
  packages/api/lib/Queue.ts
  packages/api/lib/http.service.ts
  packages/api/package.json
  packages/cli/package.json
  packages/sdk/lib/index.ts
  packages/sdk/package.json
  pnpm-lock.yaml
  tsconfig.json
Due: test-cli, test-sdk

fix: added tags to assettype interface
  .changeset/eighty-fishes-drum.md
  packages/api/lib/asset.interface.ts
Due: none

release: flow-cli v2.11.0, flow-sdk v4.19.1, hpc-api v1.0.1
  .changeset/eighty-fishes-drum.md
  .changeset/warm-carrots-tease.md
  .gitlab/renovate.json
  examples/CHANGELOG.md
  examples/package.json
  package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/cli/CHANGELOG.md
  packages/cli/lib/cli.js
  packages/cli/package.json
  packages/cli/test/prepare-ts-file.spec.ts
  packages/sdk/CHANGELOG.md
  packages/sdk/lib/FlowElement.ts
  packages/sdk/package.json
  packages/sdk/test/validation.spec.ts
  pnpm-lock.yaml
Due: test-cli, test-sdk

chore(deps): update test packages
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: test-cli, test-sdk

chore(deps): update dependency @types/node to ^14.17.27
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: test-cli, test-sdk

chore(deps): update dependency eslint to ^8.0.1
  .gitlab/renovate.json
  examples/package.json
  package.json
  pnpm-lock.yaml
Due: test-cli, test-sdk

fix: improve handling of api and auth base paths
  examples/CHANGELOG.md
  examples/package.json
  package.json
  packages/api/CHANGELOG.md
  packages/api/lib/api.ts
  packages/api/lib/asset.service.ts
  packages/api/lib/assettypes.service.ts
  packages/api/lib/content.service.ts
  packages/api/lib/endpoint.service.ts
  packages/api/lib/events.service.ts
  packages/api/lib/http.service.ts
  packages/api/lib/proxy.service.ts
  packages/api/lib/secret.service.ts
  packages/api/lib/sidriveiq.service.ts
  packages/api/lib/task.service.ts
  packages/api/lib/timeseries.service.ts
  packages/api/package.json
  packages/api/test/http.service.spec.ts
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  pnpm-lock.yaml
Due: test-cli, test-sdk

chore(deps): update all non-major dependencies
  examples/package.json
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: test-cli, test-sdk

fix(deps): update dependency axios to ^0.24.0
  packages/api/package.json
  packages/cli/package.json
  pnpm-lock.yaml
Due: test-cli

chore(deps): update all non-major dependencies
  examples/package.json
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: test-cli, test-sdk

fix: change mock-api types to be dependent on real types
  .changeset/stale-lamps-invent.md
  packages/api/lib/mock/api.mock.ts
Due: none

Path conditions:
  test-cli: any of: packages/cli/**/*, package.json
  test-sdk: any of: packages/sdk/**/*, package.json
