Repository hahnprojects/flow: changes, and which GitLab CI jobs are due for each by the changed paths.
All: audit, test-cli, test-sdk, test-api

.gitlab/.gitlab-ci.yml:

stages:
  - test

commit-messages:
  stage: test
  image: outillage/commitsar:0.16.0
  script:
    - commitsar
  rules:
    - if: $CI_MERGE_REQUEST_ID
      allow_failure: true

.pnpm:
  image: node:lts
  stage: test
  before_script:
    - npm install -g pnpm
    - pnpm install
    # - pnpm -r prepublishOnly

audit:
  extends: .pnpm
  script:
    - pnpm audit --prod
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - package.json
        - pnpm-lock.yaml
        - packages/sdk/**/package.json
      allow_failure: true

lint:
  extends: .pnpm
  script:
    - pnpm lint
  rules:
    - if: $CI_MERGE_REQUEST_ID

test-cli:
  extends: .pnpm
  script:
    - pnpm test packages/cli
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - packages/cli/**/*
        - package.json

test-sdk:
  extends: .pnpm
  script:
    - pnpm test packages/sdk -- --testPathIgnorePatterns rpc.spec.ts sidrive.spec.ts
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - packages/sdk/**/*
        - package.json

test-api:
  extends: .pnpm
  stage: test
  script:
    - pnpm test packages/api -- --testPathIgnorePatterns api.spec.ts
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - packages/api/**/*
        - package.json

refactor: remove mixed class contructor and rename class (#127)
  packages/api/MIXINS.md
  packages/api/lib/asset.service.ts
  packages/api/lib/assettypes.service.ts
  packages/api/lib/content.service.ts
  packages/api/lib/data.service.ts
  packages/api/lib/flow-deployment.service.ts
  packages/api/lib/flow.service.ts
  packages/api/lib/mock/asset.mock.service.ts
  packages/api/lib/mock/assetTypes.mock.service.ts
  packages/api/lib/mock/content.mock.service.ts
  packages/api/lib/mock/flow-deployment.mock.service.ts
  packages/api/lib/mock/flow.mock.service.ts
  packages/api/lib/mock/secret.mock.service.ts
  packages/api/lib/mock/task.mock.service.ts
  packages/api/lib/mock/timeseries.mock.service.ts
  packages/api/lib/secret.service.ts
  packages/api/lib/task.service.ts
  packages/api/lib/timeseries.service.ts
  packages/api/lib/trash.service.ts
Due: test-api

feat(sdk): made init awaitable
  .github/workflows/test.yml
  examples/modules/example/src/flow.spec.ts
  examples/modules/python/src/PythonRPC.ts
  examples/modules/python/src/algebra.py
  examples/modules/python/src/algebra_rpc.py
  packages/api/lib/api.ts
  packages/api/lib/flow.service.ts
  packages/api/lib/http.service.ts
  packages/api/lib/mock/flow-deployment.mock.service.ts
  packages/api/lib/mock/flow-functions.mock.service.ts
  packages/api/lib/mock/flow.mock.service.ts
  packages/api/lib/mock/timeseries.mock.service.ts
  packages/api/lib/user-settings.interface.ts
  packages/api/lib/user.service.ts
  packages/api/test/api.mock.spec.ts
  packages/api/test/api.spec.ts
  packages/api/test/http.service.spec.ts
  packages/cli/.npmrc
  packages/cli/lib/auth.mjs
  packages/cli/lib/cli.mjs
  packages/cli/lib/utils.mjs
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/FlowElement.ts
  packages/sdk/lib/TestModule.ts
  packages/sdk/lib/rpc_server.py
  packages/sdk/lib/utils.ts
  packages/sdk/test/context.spec.ts
  packages/sdk/test/flow.spec.ts
  packages/sdk/test/input-stream.decorator.spec.ts
  packages/sdk/test/long-running-rpc.spec.ts
  packages/sdk/test/message.spec.ts
  packages/sdk/test/rpc.spec.ts
  packages/sdk/test/rx.spec.ts
  packages/sdk/test/utils.spec.ts
Due: test-cli, test-sdk, test-api

fix: fixed linting
  packages/cli/lib/cli.mjs
  packages/sdk/test/flow.spec.ts
Due: test-cli, test-sdk

fix: py type hint
  packages/sdk/lib/rpc_server.py
Due: test-sdk

fix: added changeset
  .changeset/dirty-carrots-grab.md
Due: none

fix: added reject to test-promise
  packages/sdk/test/flow.spec.ts
Due: test-sdk

feat(sdk): made init awaitable (#130)
  .changeset/dirty-carrots-grab.md
  .github/workflows/test.yml
  examples/modules/example/src/flow.spec.ts
  examples/modules/python/src/PythonRPC.ts
  examples/modules/python/src/algebra.py
  examples/modules/python/src/algebra_rpc.py
  packages/api/lib/api.ts
  packages/api/lib/flow.service.ts
  packages/api/lib/http.service.ts
  packages/api/lib/mock/flow-deployment.mock.service.ts
  packages/api/lib/mock/flow-functions.mock.service.ts
  packages/api/lib/mock/flow.mock.service.ts
  packages/api/lib/mock/timeseries.mock.service.ts
  packages/api/lib/user-settings.interface.ts
  packages/api/lib/user.service.ts
  packages/api/test/api.mock.spec.ts
  packages/api/test/api.spec.ts
  packages/api/test/http.service.spec.ts
  packages/cli/.npmrc
  packages/cli/lib/auth.mjs
  packages/cli/lib/cli.mjs
  packages/cli/lib/utils.mjs
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/FlowElement.ts
  packages/sdk/lib/TestModule.ts
  packages/sdk/lib/rpc_server.py
  packages/sdk/lib/utils.ts
  packages/sdk/test/context.spec.ts
  packages/sdk/test/flow.spec.ts
  packages/sdk/test/input-stream.decorator.spec.ts
  packages/sdk/test/long-running-rpc.spec.ts
  packages/sdk/test/message.spec.ts
  packages/sdk/test/rpc.spec.ts
  packages/sdk/test/rx.spec.ts
  packages/sdk/test/utils.spec.ts
Due: test-cli, test-sdk, test-api

feat: use client-secret-jwt as auth method for service accounts
  .changeset/twenty-lizards-add.md
  packages/api/lib/http.service.ts
  packages/api/package.json
  packages/api/test/http.service.spec.ts
  packages/cli/lib/auth.mjs
  pnpm-lock.yaml
Due: audit, test-cli, test-api

fix: typo
  packages/api/lib/http.service.ts
Due: test-api

feat: use client_secret_jwt as auth method for service accounts (#132)
  .changeset/twenty-lizards-add.md
  packages/api/lib/http.service.ts
  packages/api/package.json
  packages/api/test/http.service.spec.ts
  packages/cli/lib/auth.mjs
  pnpm-lock.yaml
Due: audit, test-cli, test-api

fix: added paused status to updateStatus
  .changeset/rude-lies-thank.md
  packages/api/lib/flow-deployment.service.ts
  packages/api/lib/mock/flow-deployment.mock.service.ts
Due: test-api

fix: added paused status to updateStatus (#135)
  .changeset/rude-lies-thank.md
  packages/api/lib/flow-deployment.service.ts
  packages/api/lib/mock/flow-deployment.mock.service.ts
Due: test-api

chore(deps): update all non-major dependencies
  packages/sdk/lib/amqp.ts
  pnpm-lock.yaml
Due: audit, test-sdk

chore: migrated from openid-client lib to custom implementation
  packages/api/lib/http.service.ts
  packages/api/lib/token-set.ts
  packages/api/package.json
  pnpm-lock.yaml
Due: audit, test-api

chore: changeset
  .changeset/eight-moons-camp.md
Due: none

fix(api): auth url should include base path
  .changeset/gold-buttons-press.md
  packages/api/lib/http.service.ts
  packages/api/test/http.service.spec.ts
Due: test-api

fix(api): auth url should include base path (#141)
  .changeset/gold-buttons-press.md
  packages/api/lib/http.service.ts
  packages/api/test/http.service.spec.ts
Due: test-api

fix: fixed tests
  packages/api/lib/http.service.ts
  packages/api/package.json
  packages/api/test/http.service.spec.ts
  pnpm-lock.yaml
Due: audit, test-api

fix: fixed copied weirdness
  packages/api/lib/http.service.ts
  packages/api/lib/token-set.ts
  packages/api/package.json
Due: test-api

fix: pnpm
  pnpm-lock.yaml
Due: audit

fix(api): remove openid client (#139)
  .changeset/eight-moons-camp.md
  packages/api/lib/http.service.ts
  packages/api/lib/token-set.ts
  packages/api/package.json
  packages/api/test/http.service.spec.ts
  pnpm-lock.yaml
Due: audit, test-api

fix: cross-platform uuid
  packages/api/lib/http.service.ts
  packages/api/package.json
  pnpm-lock.yaml
Due: audit, test-api

chore: added changeset
  .changeset/spotty-knives-do.md
Due: none

fix(api): cross platform UUID (#144)
  .changeset/spotty-knives-do.md
  packages/api/lib/http.service.ts
  packages/api/package.json
  pnpm-lock.yaml
Due: audit, test-api

feat(timeseries): endpoint
  packages/api/lib/mock/timeseries.mock.service.ts
  packages/api/lib/timeseries.service.ts
Due: test-api

refactor(timeseries): add generic definition
  packages/api/lib/timeseries.service.ts
Due: test-api

add axios-cache-interceptor
  packages/api/lib/http.service.ts
  packages/api/package.json
  packages/api/test/http.service.spec.ts
  pnpm-lock.yaml
Due: audit, test-api

feat: add vault api endpoint
  packages/api/lib/api.ts
  packages/api/lib/index.ts
  packages/api/lib/mock/api.mock.ts
  packages/api/lib/mock/index.ts
  packages/api/lib/mock/vault.mock.service.ts
  packages/api/lib/vault.interface.ts
  packages/api/lib/vault.service.ts
  packages/api/test/api.mock.spec.ts
Due: test-api

chore: bump api version
  packages/api/package.json
Due: test-api

fix: test vault
  packages/api/lib/api.ts
  packages/api/lib/mock/data.mock.service.ts
  packages/api/test/api.mock.spec.ts
Due: test-api

chore: add cache config + tests
  packages/api/lib/data.interface.ts
  packages/api/lib/data.service.ts
  packages/api/lib/http.service.ts
  packages/api/test/api.spec.ts
Due: test-api

chore: use const instead of let
  packages/api/lib/http.service.ts
Due: test-api

chore: maybe its a breaking change for you maybe not ;)
  .changeset/tough-moles-search.md
Due: none

chore: add changeset
  .changeset/twelve-crabs-sin.md
  packages/api/package.json
Due: test-api

chore: minor changes
  .changeset/twelve-crabs-sin.md
Due: none

feat: add vault api endpoint (#147)
  .changeset/twelve-crabs-sin.md
  packages/api/lib/api.ts
  packages/api/lib/index.ts
  packages/api/lib/mock/api.mock.ts
  packages/api/lib/mock/data.mock.service.ts
  packages/api/lib/mock/index.ts
  packages/api/lib/mock/vault.mock.service.ts
  packages/api/lib/vault.interface.ts
  packages/api/lib/vault.service.ts
  packages/api/test/api.mock.spec.ts
Due: test-api

fix: vault endpoint base path
  .changeset/poor-months-hear.md
  packages/api/lib/vault.service.ts
Due: test-api

fix: vault endpoint base path (#152)
  .changeset/poor-months-hear.md
  packages/api/lib/vault.service.ts
Due: test-api

fix: fixed diagram revision bug
  packages/api/lib/flow.service.ts
Due: test-api

chore: added changeset
  .changeset/brown-lizards-cheer.md
Due: none
