Repository hahnprojects/flow: changes, and which GitLab CI jobs are due for each by the changed paths.
All: audit, test-cli, test-sdk, test-api

.gitlab/.gitlab-ci.yml:

stages:
  - test

commit-messages:
  stage: test
  image: outillage/commitsar:0.16.0
  script:
    - commitsar
  rules:
    - if: $CI_MERGE_REQUEST_ID
      allow_failure: true

.pnpm:
  image: node:lts
  stage: test
  before_script:
    - npm install -g pnpm
    - pnpm install
    # - pnpm -r prepublishOnly

audit:
  extends: .pnpm
  script:
    - pnpm audit --prod
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - package.json
        - pnpm-lock.yaml
        - packages/sdk/**/package.json
      allow_failure: true

lint:
  extends: .pnpm
  script:
    - pnpm lint
  rules:
    - if: $CI_MERGE_REQUEST_ID

test-cli:
  extends: .pnpm
  script:
    - pnpm test packages/cli
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - packages/cli/**/*
        - package.json

test-sdk:
  extends: .pnpm
  script:
    - pnpm test packages/sdk -- --testPathIgnorePatterns rpc.spec.ts sidrive.spec.ts
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - packages/sdk/**/*
        - package.json

test-api:
  extends: .pnpm
  stage: test
  script:
    - pnpm test packages/api -- --testPathIgnorePatterns api.spec.ts
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - packages/api/**/*
        - package.json

test: extendet the mock api
  packages/api/lib/mock/api.mock.ts
Due: test-api

test: wrote api test for the find revisions query
  packages/api/test/api.spec.ts
Due: test-api

test: wrote test for the mock api
  packages/api/test/api.mock.spec.ts
Due: test-api

test: fixed error in the new tests for the revisions
  packages/api/test/api.mock.spec.ts
  packages/api/test/api.spec.ts
Due: test-api

chore(deps): update all non-major dependencies
  examples/package.json
  package.json
  packages/cli/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

chore(deps): update nestjs
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-sdk

fix: formatted code with linter
  packages/api/lib/mock/api.mock.ts
  packages/api/lib/mock/asset.mock.service.ts
  packages/api/test/api.mock.spec.ts
  packages/api/test/api.spec.ts
Due: test-api

feat: added findRevisions to the asset service (#35)
  .changeset/mighty-starfishes-lie.md
  packages/api/lib/asset.interface.ts
  packages/api/lib/asset.service.ts
  packages/api/lib/mock/api.mock.ts
  packages/api/lib/mock/asset.mock.service.ts
  packages/api/test/api.mock.spec.ts
  packages/api/test/api.spec.ts
Due: test-api

fix(deps): update dependency dotenv to ^14.3.2
  package.json
  packages/cli/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

chore(deps): update dependency eslint to ^8.8.0
  examples/package.json
  package.json
  packages/cli/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

fix(deps): update dependency commander to v9
  packages/cli/package.json
  pnpm-lock.yaml
Due: audit, test-cli

fix(deps): update dependency dotenv to v15
  package.json
  packages/cli/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

chore(deps): update all non-major dependencies
  examples/package.json
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

chore(deps): update dependency @golevelup/nestjs-rabbitmq to ^2.1.0
  examples/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-sdk

fix: fixed breaking change in mock api
  doc/development-environment.md
  packages/api/lib/mock/api.mock.ts
Due: test-api

fix: added changeset
  .changeset/soft-foxes-shave.md
Due: none

chore(deps): update amannn/action-semantic-pull-request action to v4
  .github/workflows/validate-pr.yml
Due: none

fix(deps): update dependency dotenv to v16
  package.json
  packages/cli/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

chore(deps): update amannn/action-semantic-pull-request action to v4.0.1
  .github/workflows/validate-pr.yml
Due: none

fix(deps): update dependency cloudevents to ^5.3.1
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-sdk

fix: fixed breaking change in mock api (#47)
  .changeset/soft-foxes-shave.md
  doc/development-environment.md
  packages/api/lib/mock/api.mock.ts
Due: test-api

chore(deps): update all non-major dependencies
  .github/workflows/validate-pr.yml
  examples/package.json
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

fix(deps): update dependency ts-node to ^10.5.0
  package.json
  packages/cli/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

chore(deps): less frequent renovate prs
  .github/actions/prepare-pnpm/action.yml
  .github/renovate.json
Due: none

fix(cli): remove usage of deprecated rmdir nodejs api
  .changeset/eleven-fans-arrive.md
  packages/cli/lib/cli.mjs
Due: test-cli

fix(cli): remove usage of deprecated rmdir nodejs api (#55)
  .changeset/eleven-fans-arrive.md
  packages/cli/lib/cli.mjs
Due: test-cli

chore(deps): update all non-major dependencies
  .github/actions/prepare-pnpm/action.yml
  .github/workflows/validate-pr.yml
  examples/package.json
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

chore(deps): update all non-major dependencies
  examples/package.json
  package.json
  packages/api/package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

chore(deps): update dependency eslint-plugin-unicorn to v41
  packages/cli/package.json
  pnpm-lock.yaml
Due: audit, test-cli

chore(deps): update all non-major dependencies
  .changeset/fuzzy-ties-nail.md
  examples/package.json
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

chore(deps): update pnpm/action-setup action to v2.2.0
  .github/actions/prepare-pnpm/action.yml
Due: none

chore(deps): update actions/checkout action to v3
  .github/workflows/codeql-analysis.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/validate.yml
Due: none

chore(deps): update actions/setup-node action to v3
  .github/actions/prepare-pnpm/action.yml
Due: none
