Repository hahnprojects/flow: changes, and which GitLab CI jobs are due for each by the changed paths.
All: audit, test-cli, test-sdk, test-api

.gitlab/.gitlab-ci.yml:

stages:
  - test

commit-messages:
  stage: test
  image: outillage/commitsar:0.16.0
  script:
    - commitsar
  rules:
    - if: $CI_MERGE_REQUEST_ID
      allow_failure: true

.pnpm:
  image: node:lts
  stage: test
  before_script:
    - npm install -g pnpm
    - pnpm install
    # - pnpm -r prepublishOnly

audit:
  extends: .pnpm
  script:
    - pnpm audit --prod
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - package.json
        - pnpm-lock.yaml
        - packages/sdk/**/package.json
      allow_failure: true

lint:
  extends: .pnpm
  script:
    - pnpm lint
  rules:
    - if: $CI_MERGE_REQUEST_ID

test-cli:
  extends: .pnpm
  script:
    - pnpm test packages/cli
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - packages/cli/**/*
        - package.json

test-sdk:
  extends: .pnpm
  script:
    - pnpm test packages/sdk -- --testPathIgnorePatterns rpc.spec.ts sidrive.spec.ts
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - packages/sdk/**/*
        - package.json

test-api:
  extends: .pnpm
  stage: test
  script:
    - pnpm test packages/api -- --testPathIgnorePatterns api.spec.ts
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        - packages/api/**/*
        - package.json

chore(deps): update actions/setup-python action to v3
  .github/workflows/test.yml
Due: none

chore(deps): update all non-major dependencies
  .github/actions/prepare-pnpm/action.yml
  examples/package.json
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

fix: refactored FlowApp init to ensure exchanges exist before logs can be produced
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/utils.ts
Due: test-sdk

fix: added changeset
  .changeset/pink-deers-occur.md
Due: none

fix: fixed flow tests
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/test/flow.spec.ts
Due: test-sdk

fix: removed flowapp.destroy
  examples/modules/python/src/python.spec.ts
Due: none

test: increased timeout
  examples/modules/python/src/python.spec.ts
Due: none

chore(deps): update all non-major dependencies
  examples/package.json
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

fix: fixed RpcClient init race condition
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/FlowElement.ts
  packages/sdk/lib/RpcClient.ts
Due: test-sdk

fix: added triggers to test-flow
  examples/modules/python/src/python.spec.ts
Due: none

fix: set fixed version for aio-pika in ci
  .github/workflows/test.yml
Due: none

fix: changed rpcclient to use promise based init
  examples/modules/python/src/PythonRPC.ts
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/FlowElement.ts
  packages/sdk/lib/RpcClient.ts
  packages/sdk/lib/rpc_server.py
Due: test-sdk

fix: fixed lint
  examples/modules/python/src/PythonRPC.ts
Due: none

fix(sdk): Fixed flowapp init (#66)
  .changeset/pink-deers-occur.md
  .github/workflows/test.yml
  examples/modules/python/src/PythonRPC.ts
  examples/modules/python/src/python.spec.ts
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/FlowElement.ts
  packages/sdk/lib/RpcClient.ts
  packages/sdk/lib/rpc_server.py
  packages/sdk/lib/utils.ts
  packages/sdk/test/flow.spec.ts
Due: test-sdk

chore(deps): update all non-major dependencies
  examples/package.json
  package.json
  packages/api/package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api

fix(deps): update dependency cloudevents to v6
  packages/sdk/package.json
  pnpm-lock.yaml
Due: audit, test-sdk

feat: added flow-api functionality
  packages/api/lib/api.ts
  packages/api/lib/content.interface.ts
  packages/api/lib/flow-deployment.interface.ts
  packages/api/lib/flow-deployment.service.ts
  packages/api/lib/flow-function.interface.ts
  packages/api/lib/flow-function.service.ts
  packages/api/lib/flow-module.interface.ts
  packages/api/lib/flow-module.service.ts
  packages/api/lib/flow.interface.ts
  packages/api/lib/flow.service.ts
  packages/api/lib/index.ts
  packages/api/lib/mock/api.mock.ts
  packages/api/lib/mock/flow-deployment.mock.service.ts
  packages/api/lib/mock/flow-functions.mock.service.ts
  packages/api/lib/mock/flow-modules.mock.service.ts
  packages/api/lib/mock/flow.mock.service.ts
  packages/api/lib/resource.interface.ts
  packages/api/lib/schema.interface.ts
  packages/api/lib/storage.interface.ts
  packages/api/test/api.mock.spec.ts
  packages/api/test/api.spec.ts
Due: test-api

feat: added flow-api functionality2
  packages/api/lib/flow-module.service.ts
  packages/api/lib/mock/api.mock.ts
  packages/api/lib/mock/flow-modules.mock.service.ts
  packages/api/test/api.mock.spec.ts
  packages/api/test/api.spec.ts
  packages/api/test/testFile.zip
Due: test-api

chore: added changeset
  .changeset/nasty-worms-deliver.md
Due: none

chore: changed names
  packages/api/lib/flow-deployment.interface.ts
  packages/api/lib/flow-function.interface.ts
  packages/api/lib/flow-function.service.ts
  packages/api/lib/flow.interface.ts
  packages/api/lib/flow.service.ts
  packages/api/lib/mock/api.mock.ts
  packages/api/lib/mock/flow-functions.mock.service.ts
  packages/api/lib/mock/flow.mock.service.ts
Due: test-api

Delete pink-deers-occur.md
  .changeset/pink-deers-occur.md
Due: none

chore: fixed lint
  packages/api/lib/flow-module.interface.ts
  packages/api/lib/flow.service.ts
  packages/api/lib/index.ts
  packages/api/lib/mock/flow.mock.service.ts
Due: test-api

feat: added method for sending status events
  .changeset/empty-llamas-tan.md
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/lib/FlowElement.ts
  packages/sdk/test/flow.spec.ts
Due: test-sdk

chore: fixed linting
  packages/sdk/lib/FlowApplication.ts
  packages/sdk/test/flow.spec.ts
Due: test-sdk

chore: fixed mock reset
  packages/sdk/test/flow.spec.ts
Due: test-sdk

fix: fixed isd test
  packages/sdk/test/input-stream.decorator.spec.ts
Due: test-sdk

fix: added deploymentId to status event
  packages/sdk/lib/FlowApplication.ts
Due: test-sdk

feat(cli): support auth for regular user accounts
  .changeset/beige-students-return.md
  .gitignore
  .prettierignore
  README.md
  packages/cli/README.md
  packages/cli/jest.config.cjs
  packages/cli/lib/auth.mjs
  packages/cli/lib/cli.mjs
  packages/cli/lib/utils.mjs
  packages/cli/lib/views/index.css
  packages/cli/lib/views/index.ejs
  packages/cli/package.json
  packages/cli/test/utils.spec.mjs
  pnpm-lock.yaml
Due: audit, test-cli

feat: added method to subscribe to logs and status
  packages/api/lib/flow-deployment.service.ts
  packages/api/lib/http.service.ts
  packages/api/lib/mock/flow-deployment.mock.service.ts
  packages/api/package.json
  packages/api/test/api.spec.ts
  pnpm-lock.yaml
Due: audit, test-api

refactor: use string replace instead of replaceAll
  .prettierignore
  packages/cli/lib/auth.mjs
  packages/cli/lib/cli.mjs
  packages/cli/package.json
Due: test-cli

chore: fixed linting
  packages/api/lib/http.service.ts
  packages/api/lib/mock/flow.mock.service.ts
Due: test-api

feat(cli): support web login for authentication (#75)
  .changeset/beige-students-return.md
  .gitignore
  .prettierignore
  README.md
  packages/cli/README.md
  packages/cli/jest.config.cjs
  packages/cli/lib/auth.mjs
  packages/cli/lib/cli.mjs
  packages/cli/lib/utils.mjs
  packages/cli/lib/views/index.css
  packages/cli/lib/views/index.ejs
  packages/cli/package.json
  packages/cli/test/utils.spec.mjs
  pnpm-lock.yaml
Due: audit, test-cli

chore: fixed conflicts
  pnpm-lock.yaml
Due: audit

feat(api): added functions for flow-service (#72)
  .changeset/nasty-worms-deliver.md
  packages/api/lib/api.ts
  packages/api/lib/content.interface.ts
  packages/api/lib/flow-deployment.interface.ts
  packages/api/lib/flow-deployment.service.ts
  packages/api/lib/flow-function.interface.ts
  packages/api/lib/flow-function.service.ts
  packages/api/lib/flow-module.interface.ts
  packages/api/lib/flow-module.service.ts
  packages/api/lib/flow.interface.ts
  packages/api/lib/flow.service.ts
  packages/api/lib/http.service.ts
  packages/api/lib/index.ts
  packages/api/lib/mock/api.mock.ts
  packages/api/lib/mock/flow-deployment.mock.service.ts
  packages/api/lib/mock/flow-functions.mock.service.ts
  packages/api/lib/mock/flow-modules.mock.service.ts
  packages/api/lib/mock/flow.mock.service.ts
  packages/api/lib/resource.interface.ts
  packages/api/lib/schema.interface.ts
  packages/api/lib/storage.interface.ts
  packages/api/package.json
  packages/api/test/api.mock.spec.ts
  packages/api/test/api.spec.ts
  packages/api/test/testFile.zip
  pnpm-lock.yaml
Due: audit, test-api

chore(deps): update all non-major dependencies
  examples/package.json
  package.json
  packages/cli/package.json
  pnpm-lock.yaml
Due: audit, test-cli, test-sdk, test-api
